.application {
  padding: clamp(rem(30), 6vw, rem(118)) 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    padding: clamp(rem(30), 6vw, rem(85)) rem(70);
    background-color: rgba(63, 56, 84, 0.9);
    border-radius: rem(5);

    display: flex;
    justify-content: space-between;
    gap: rem(20);
    align-items: center;

    @media (max-width: em(940)) {
      flex-direction: column;

      .application__divider {
        display: none;
      }
      .application__right {
        text-align: center;

        &-contacts {
          align-items: center;
        }
      }
    }

    .application__left {
      max-width: rem(565);

      .application__form {
        &-inputs {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: rem(25);

          @media (max-width: em(500)) {
            grid-template-columns: 1fr;
          }
        }

        input,
        select,
        textarea {
          background-color: #fff;
          color: black;
          padding: rem(16) rem(14) rem(16) rem(25);
          border-radius: rem(5);

          &::placeholder {
            color: #9f9e9e;
          }
        }

        select {
          color: #9f9e9e;

          background-image: url('/img/select-icon.svg');
          background-repeat: no-repeat;
          background-position: right rem(14) center;
          background-size: rem(15);
        }

        textarea {
          resize: none;
          margin-top: rem(20);
          width: 100%;
          height: rem(263);

          margin-bottom: rem(25);
        }

        &-submit {
          display: block;
          margin-inline: auto;
        }
      }
    }

    .application__divider {
      width: rem(1);
      align-self: stretch;
      margin-bottom: rem(78);
      background-color: rgba(255, 255, 255, 0.5);
    }

    .application__right {
      max-width: rem(358);
      color: #fff;

      &-title {
        font-size: rem(38);
        font-weight: 700;
        margin-bottom: rem(32);
      }

      &-contacts {
        display: flex;
        flex-direction: column;
        gap: rem(25);

        > li > a {
          display: flex;
          align-items: center;
          gap: rem(10);

          .icon {
            width: rem(20);
            height: rem(20);
          }

          .text {
            font-size: rem(18);
          }
        }
      }

      &-map {
        max-width: rem(358);
        aspect-ratio: 358 / 319;
        margin-top: rem(65);

        iframe {
          width: 100%;
          height: 100%;
          border: 0;
          display: block;
        }

        @media (max-width: em(940)) {
          max-width: rem(290) !important;
        }
      }
    }
  }
}
