.filters {
  max-width: rem(387);
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: clamp(rem(20), 2.5vw, rem(40));

  @media (max-width: em(780)) {
    margin-inline: auto;
  }

  .filter-title {
    font-size: rem(22);
    font-family: 'Roboto Medium';
    color: black;
    margin-bottom: rem(15);

    @media (max-width: em(780)) {
      text-align: center;
    }
  }

  &__search {
    &-input {
      position: relative;
      > input {
        border-radius: rem(5);
        width: 100%;
        background-color: #eeeeee;
        padding: rem(16) rem(71) rem(16) rem(21);
        color: #8d8989;
      }

      > button {
        background-color: var(--color-primary);
        padding: rem(5);
        height: 100%;
        aspect-ratio: 1/ 1;

        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-top-right-radius: rem(5);
        border-bottom-right-radius: rem(5);

        > svg {
          width: rem(21);
          aspect-ratio: 1 / 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &__category {
    > ul {
      display: flex;
      flex-direction: column;
      gap: rem(16);
      font-size: rem(16);
      color: #635f5f;
    }
  }

  &__last {
    &-list {
      display: flex;
      flex-direction: column;
      gap: rem(20);
    }

    &-item {
      font-size: rem(16);

      @media (hover: hover) {
        &:hover {
          .filters__item-text {
            color: var(--color-primary);
          }
        }
      }

      .filters__item-text {
        line-height: 160%;
        color: #635f5f;
        margin-bottom: rem(14);
        transition: all 0.3s ease;
      }

      .filters__item-date {
        color: #a8a8a8;
        position: relative;
        padding-left: rem(25);

        &::before {
          content: '';
          position: absolute;
          width: rem(16);
          aspect-ratio: 1;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url('/img/calendar.svg');
        }
      }
    }
  }

  &__tags {
    > ul {
      display: flex;
      flex-wrap: wrap;
      gap: rem(10);
      font-size: rem(14);
      color: black;

      @media (max-width: em(780)) {
        justify-content: center;
      }

      > li {
        > a {
          transition: all 0.3s ease;
          border-radius: rem(40);
          border: rem(1) solid #ccc8c8;
          display: inline-block;
          padding: rem(10) rem(28);
          @media (hover: hover) {
            &:hover {
              color: white;
              background-color: var(--color-primary);
            }
          }
        }
      }
    }
  }
}
