.classes {
  padding: clamp(rem(30), 6vw, rem(100)) 0;
  background-color: #f4f4f4;

  .classes__list {
    > ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      gap: rem(20);

      @media (max-width: em(780)) {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
      }
    }

    &-item {
      max-width: rem(285);

      @media (hover: hover) {
        &:hover {
          .classes__item-img {
            img {
              transform: scale(1.1);
            }
          }

          .classes__item-title {
            color: var(--color-primary);
          }
        }
      }

      .classes__item-img {
        border-radius: rem(5);
        overflow: hidden;

        img {
          transition: all 0.6s ease;
        }
      }

      .classes__item-title {
        font-size: rem(24);
        font-family: 'Roboto Medium';
        color: black;
        margin-top: rem(21);
        text-align: center;

        transition: all 0.6s ease;

        @media (max-width: em(520)) {
          font-size: rem(19);
        }
      }
    }
  }
}
