.gallery {
  background-color: #3f3854;
  padding: clamp(rem(30), 6vw, rem(100)) 0;

  &__subtitle {
    margin-bottom: rem(61);
  }

  &__grid {
    > a {
      display: inline-block;

      max-width: calc(var(--img-w) / 16 * 1rem);
      max-height: calc(var(--img-h) / 16 * 1rem);
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
