.gallery {
  background-color: #3f3854;
  padding: clamp(rem(30), 6vw, rem(100)) 0;

  &__subtitle {
    margin-bottom: rem(61);
  }

  &__grid {
    --col: calc(var(--img-w) / 16 * 1rem);
    --gap: 20px;

    column-width: var(--col);
    column-gap: var(--gap);
    column-count: 4;

    @media (max-width: em(1230)) {
      column-count: 2;
    }

    &.gallery-small {
      @media (max-width: em(620)) {
        > a:nth-child(n + 4) {
          display: none;
        }
      }
    }

    > a {
      position: relative;

      display: inline-block;
      width: 100%;
      margin: 0 0 var(--gap);
      border-radius: 5px;
      overflow: hidden;

      break-inside: avoid;
      page-break-inside: avoid;

      @media (hover: hover) {
        &:hover {
          .gallery__item-hover {
            opacity: 1;
          }
        }
      }

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      .gallery__item-hover {
        opacity: 0;
        position: absolute;
        transition: all 0.6s ease;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(37, 31, 31, 0.2);
        z-index: 5;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: rem(30);
          height: rem(30);
        }

        p {
          color: white;
          font-size: rem(18);
          margin-top: rem(13);
        }
      }
    }
  }

  .gallery__link {
    display: block;
    margin-top: rem(41);
    width: fit-content;
    margin-inline: auto;

    @media (hover: hover) {
      &:hover {
        color: white;
      }
    }
  }
}
