.instructors {
  &__list {
    > ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: rem(20);

      @media (max-width: em(900)) {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
      }

      @media (max-width: em(425)) {
        grid-template-columns: 1fr;
      }
    }

    &-item {
      max-width: rem(285);
      border-radius: rem(5);
      background-color: #ebebeb;
      cursor: pointer;
      padding-bottom: rem(44);

      @media (hover: hover) {
        &:hover {
          .instructors__item-img {
            img {
              transform: scale(1.1);
            }
          }
        }
      }

      .instructors__item-img {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          object-fit: cover;
          transition: all 0.6s ease;
        }
      }

      .instructors__item-content {
        max-width: 75%;
        margin-inline: auto;
        text-align: center;
      }

      .instructors__item-name {
        color: var(--color-primary);
        text-transform: capitalize;
        font-size: rem(24);
        font-family: 'Roboto Medium';
        margin-top: rem(25);

        padding-bottom: rem(20);

        border-bottom: rem(1) solid #d8d1d1;
      }

      .instructors__item-text {
        margin-top: rem(20);
        color: #b6adad;
      }

      .instructors__item-direction {
        margin-top: rem(11);
        font-weight: 700;
        font-size: rem(22);
        color: black;
      }

      .instructors__item-socials {
        margin-top: rem(32);
        display: flex;
        gap: rem(22);
        align-items: center;
        justify-content: center;

        > li {
          width: rem(17);
          height: rem(17);
          > a {
            > svg {
              color: #928a8a;
            }
          }
        }
      }
    }
  }
}
