.hero {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);

    @media (max-width: em(780)) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: clamp(rem(20), 3vw, rem(50));

    .hero__title {
      color: black;
      font-size: rem(42);
      font-weight: 700;
      line-height: 147%;

      @media (max-width: em(1020)) {
        font-size: rem(33);
      }

      @media (max-width: em(425)) {
        font-size: rem(26);
      }
    }

    .hero__text {
      max-width: rem(554);
      color: #757171;
      font-size: rem(18);
      line-height: 179%;

      .bold {
        color: #000000;
      }
    }

    .hero__btn {
      align-self: start;

      @media (max-width: em(780)) {
        align-self: center;
      }
    }

    a {
      display: inline-block;
    }
  }

  &__img {
    border-radius: rem(5);
    max-width: rem(457);

    img {
      width: 100%;
    }

    @media (max-width: em(780)) {
      display: none;
    }
  }
}

.stats {
  background-color: var(--color-secondary);

  .container {
    padding: clamp(rem(20), 3vw, rem(57)) rem(15);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, rem(110));
    gap: rem(20);
    justify-content: space-between;

    @media (max-width: em(600)) {
      grid-template-columns: repeat(2, rem(110));
      justify-content: center;
      column-gap: rem(60);
    }

    &-item {
      text-align: center;

      .stats__item-title {
        line-height: 147%;
        font-size: rem(55);
        font-weight: 700;
        color: white;
      }

      .stats__item-desc {
        line-height: 147%;
        font-size: rem(20);
        color: #c1c1c1;
      }
    }
  }
}
