.article-main {
  > .container {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    align-items: start;
    margin: clamp(rem(30), 6vw, rem(100)) auto;
  }

  .article {
    display: flex;
    flex-direction: column;
    gap: clamp(rem(20), 3.4vw, rem(55));

    &__content {
      padding: rem(22);
      border-radius: rem(5);
      border: rem(1) solid #b7b3b3;
      max-width: rem(771);

      display: flex;
      flex-direction: column;
      gap: rem(20);

      &-img {
        aspect-ratio: 727 / 313;
        max-width: 100%;
        overflow: hidden;
        border-radius: rem(5);

        img {
          width: 100%;
        }
      }

      &-info {
        color: #a8a8a8;
        font-size: rem(16);
        line-height: 100%;

        display: flex;
        align-items: center;
        gap: rem(20);

        > p {
          position: relative;
          padding-left: rem(24);

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: rem(16);
            aspect-ratio: 1 / 1;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          &.article__content-date {
            &::before {
              background-image: url('/img/calendar.svg');
            }
          }

          &.article__content-comments {
            &::before {
              background-image: url('/img/comments.svg');
            }
          }
        }
      }

      &-title {
        font-size: rem(22);
        font-weight: 700;
        color: black;
      }

      &-text {
        font-size: rem(16);
        line-height: 170%;
        color: #635f5f;

        > p {
          &:not(:last-child) {
            margin-bottom: rem(15);
          }
        }
      }

      &-tip {
        font-size: rem(14);
        line-height: 170%;
        color: #635f5f;
        padding: rem(15) rem(25);
        background-color: #efefef;
        border-radius: rem(5);

        border-left: rem(3) solid var(--color-primary);
      }

      &-other {
        padding: rem(8) rem(15);
        border: rem(1) solid #cfcfcf;
        border-radius: rem(5);

        display: flex;
        justify-content: space-between;
        gap: rem(20);
        align-items: center;

        transition: all 0.3s ease;

        &.article__content-next {
          .article__other-right {
            transform: rotate(180deg);
          }
        }

        @media (hover: hover) {
          &:hover {
            .article__other {
              &-right {
                transform: translateX(-20%);
              }
            }

            &.article__content-next {
              .article__other-right {
                transform: translateX(20%) rotate(180deg);
              }
            }
          }
        }

        .article__other {
          &-left {
            display: flex;
            align-items: center;
            gap: rem(12);
          }

          &-img {
            max-width: rem(66);
            width: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;

            img {
              width: 100%;
            }
          }

          &-text {
            display: flex;
            flex-direction: column;
            gap: rem(6);
            transition: all 0.3s ease;
          }

          &-title {
            font-size: rem(16);
            font-family: 'Roboto Medium';
            color: black;
            transition: all 0.3s ease;
          }

          &-desc {
            font-size: rem(14);
            line-height: 128%;
            color: #858585;
          }

          &-right {
            max-width: rem(43);
            width: 100%;
            aspect-ratio: 1;
            overflow: hidden;

            transition: all 0.3s ease;
            img {
              width: 100%;
            }
          }
        }
      }
    }

    &__comments {
      &-title {
        font-size: rem(24);
        font-weight: 700;
        color: black;
        line-height: 170%;
        margin-bottom: clamp(rem(15), 3vw, rem(48));
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: rem(30);
        max-width: rem(793);
      }

      &-item {
        display: flex;
        gap: rem(17);

        padding-bottom: rem(30);
        border-bottom: rem(1) solid #d7d6d6;
      }

      .article__comments {
        &-img {
          max-width: rem(115);
          width: 100%;
          aspect-ratio: 1;
          border-radius: rem(5);
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        &-content {
          max-width: rem(648);
          width: 100%;
        }
      }

      .comments__content {
        &-name {
          font-weight: 700;
          line-height: 170%;
          color: black;
          margin-bottom: rem(10);
        }

        &-date {
          font-size: rem(14);
          line-height: 137%;
          color: #8b8c8e;
          padding-left: rem(23);
          position: relative;
          margin-bottom: rem(20);

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: rem(14);
            aspect-ratio: 1 / 1;
            background-image: url('/img/content/article/back-time.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        &-text {
          font-size: rem(16);
          line-height: 170%;
          color: #646161;
          margin-bottom: rem(20);
        }

        &-reply {
          font-size: rem(14);
          font-family: 'Roboto Medium';
          line-height: 137%;
          color: #6c6363;

          display: inline-flex;
          align-items: center;
          gap: rem(10);

          transition: all 0.3s ease;

          padding: rem(10) rem(18);
          border: rem(1) solid #cccccc;
          border-radius: rem(5);

          @media (hover: hover) {
            &:hover {
              color: white;
              background-color: var(--color-primary);
            }
          }

          > svg {
            width: rem(14);
            aspect-ratio: 1 / 1;
          }
        }
      }
    }
  }
}
