.blog {
  > .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: rem(20);
    margin: clamp(rem(30), 6vw, rem(100)) auto;

    @media (max-width: em(780)) {
      flex-direction: column;
    }
  }

  .tabs {
    max-width: rem(770);
    width: 100%;

    &__content {
      &-articles {
        display: flex;
        flex-direction: column;
        gap: rem(20);
      }

      .tabs__articles-item {
        width: 100%;

        > a {
          display: flex;
          flex-direction: column;
          gap: rem(20);

          padding-bottom: rem(20);
          border-bottom: rem(1) solid #e5e1e1;

          @media (hover: hover) {
            &:hover {
              .tabs__article-img {
                img {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }

      .tabs__article {
        &-img {
          max-width: 100%;
          aspect-ratio: 769 / 360;
          overflow: hidden;
          border-radius: rem(5);

          img {
            width: 100%;
            transition: all 0.6s ease;
          }
        }

        &-info {
          color: #a8a8a8;
          font-size: rem(16);
          line-height: 100%;

          display: flex;
          align-items: center;
          gap: rem(20);

          > div {
            position: relative;
            padding-left: rem(24);

            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width: rem(16);
              aspect-ratio: 1 / 1;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            }

            &.tabs__article-date {
              &::before {
                background-image: url('/img/calendar.svg');
              }
            }

            &.tabs__article-comments {
              &::before {
                background-image: url('/img/comments.svg');
              }
            }
          }
        }

        &-title {
          color: black;
          font-size: rem(22);
          font-weight: 700;
        }

        &-text {
          font-size: rem(16);
          line-height: 170%;
          color: #635f5f;
        }
      }
    }

    &__buttons {
      margin-top: rem(44);
      justify-content: center;
      display: flex;
      align-items: center;
      gap: rem(15);

      @media (max-width: em(780)) {
        flex-wrap: wrap;
      }

      > a {
        display: inline-block;
        color: black;
        line-height: 170%;
        padding: rem(12) rem(22);
        background-color: #e8e8e8;
        border-radius: rem(5);
        transition: all 0.3s ease;

        @media (hover: hover) {
          &:hover {
            background-color: var(--color-primary);
            color: white;
          }
        }

        &.active {
          color: white;
          background-color: var(--color-primary);
        }
      }
    }
  }
}
