.hero {
  padding: clamp(rem(30), 6vw, rem(100)) 0;
  background-color: #f4f4f4;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);

    @media (max-width: em(900)) {
      text-align: center;
    }
  }

  &__img {
    border-radius: rem(5);
    max-width: rem(449);
    aspect-ratio: 449 / 481;

    @media (max-width: em(900)) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  &__content {
    max-width: rem(554);

    @media (max-width: em(900)) {
      margin-inline: auto;
    }

    .hero__title {
      font-size: rem(42);
      font-weight: 700;
      color: black;
      line-height: 147%;
      margin-bottom: clamp(rem(15), 2.5vw, rem(40));

      @media (max-width: em(1020)) {
        font-size: rem(33);
      }

      @media (max-width: em(425)) {
        font-size: rem(26);
      }
    }

    .hero__text {
      line-height: 180%;
      color: #757171;
    }
  }
}
