<!DOCTYPE html>
<html lang="en">
<head>
	{{> page/head title="About" scssFileName="about"}}

	  <link rel="stylesheet" href="/src/scss/components/instructors.scss">
  <link rel="stylesheet" href="/src/scss/components/application.scss">
  <link rel="stylesheet" href="/src/scss/components/classes.scss">
</head>
<body>
	{{> page/header}}

	<main>
		{{> page/breadcrumbs title="About"}}

		<section class="hero margin-top">
			<div class="container">
				<div class="hero__content">
					<h2 class="hero__title">Vinyasa Yoga Studio</h2>
					<div class="hero__text"><p>Welcome to Vinyasa Studio, a place where elegant movement and deep awareness come together. Our studio offers a unique space for those who seek harmony of body and mind through the art of yoga.</p> <p><span class="bold">Vinyasa</span> is not just yoga classes, it is an immersion into the fascinating world of your own body, breath, and soul. Our classes provide an opportunity for each student to discover their own unique path to well-being and inner balance.</p></div>
					<a href="#" class="hero__btn blue-button">Watch video</a>
				</div>

				<div class="hero__img">
					<img src="/img/content/about/hero.png" alt="">
				</div>
			</div>
		</section>

		<section class="stats margin-top">
			<div class="container">
				<ul class="stats__list">
					<li class="stats__list-item">
						<p class="stats__item-title">20</p>
						<p class="stats__item-desc">Years of experience</p>
					</li>
					<li class="stats__list-item">
						<p class="stats__item-title">500</p>
						<p class="stats__item-desc">Trained students</p>
					</li>
					<li class="stats__list-item">
						<p class="stats__item-title">900</p>
						<p class="stats__item-desc">Classes conducted</p>
					</li>
					<li class="stats__list-item">
						<p class="stats__item-title">15</p>
						<p class="stats__item-desc">Experienced instructors</p>
					</li>
				</ul>
			</div>
		</section>

		<section class="video margin-top">
			<div class="container">
				<a class="video__item" href='https://www.youtube.com/watch?v=P8uHMMmWMHQ' target='_blank'>
					<img src="/img/content/about/video.png" alt="">
				</a>
			</div>
		</section>

		{{> page/classes}}

		{{> page/instructors}}

		{{> page/application}}
	</main>

	  {{> page/footer}}
  {{> page/script}}
</body>
</html>