<!DOCTYPE html>
<html lang="en">
<head>
	{{> page/head title="About" scssFileName="about"}}
</head>
<body>
	{{> page/header}}

	<main>
		{{> page/breadcrumbs title="About"}}

		<section class="hero margin-top">
			<div class="container">
				<div class="hero__content">
					<h2 class="hero__title">Vinyasa Yoga Studio</h2>
					<div class="hero__text"><p>Welcome to Vinyasa Studio, a place where elegant movement and deep awareness come together. Our studio offers a unique space for those who seek harmony of body and mind through the art of yoga.</p> <p><span class="bold">Vinyasa</span> is not just yoga classes, it is an immersion into the fascinating world of your own body, breath, and soul. Our classes provide an opportunity for each student to discover their own unique path to well-being and inner balance.</p></div>
					<a href="#" class="hero__btn blue-button">Watch video</a>
				</div>

				<div class="hero__img">
					<img src="/img/content/about/hero.png" alt="">
				</div>
			</div>
		</section>
	</main>
</body>
</html>