<!DOCTYPE html>
<html lang="en">

<head>
	{{> page/head title="Embarking on a yoga journey.A beginner's guide" scssFileName="article"}}

	<link rel="stylesheet" href="/src/scss/components/blog-filters.scss">
</head>

<body>
	{{> page/header}}

	<main class='article-main'>
		{{> page/breadcrumbs title="Embarking on a yoga journey. A beginner's guide"}}

		<div class="container">
			<div class="article">
				<div class="article__content">
					<div class="article__content-img">
						<img src="/img/content/blog/second.png" alt="">
					</div>

					<div class="article__content-info">
						<p class="article__content-date">21.01.2024</p>
						<p class="article__content-comments">4 comments</p>
					</div>

					<h3 class="article__content-title">Embarking on a yoga journey. A beginner's guide</h3>

					<div class="article__content-text">
						<p>Let's explore how proper breathing can be the key to physical and emotional well-being. This article on pranayama will provide clear techniques and practical tips to help breathing become your reliable guide in the world of yoga.</p>
						<p>Breathing is not just a physiological process that supplies oxygen to the body and removes carbon dioxide. In the world of yoga, breathing plays a key role in the process of healing and achieving harmony between body and mind. The principles of breathing in yoga are studied and developed using a practice known as pranayama.</p>
						<p>Pranayama is an ancient practice of breath control that has its roots in the Vedic tradition. “Prana” in Sanskrit means life energy, and “ayama” means control. Thus, pranayama refers to the control of life energy through breathing.</p>
						<p>Pranayama plays a very significant role in healing the body and promoting mental well-being. Here are a few aspects that highlight the importance of pranayama in yoga practice:</p>
					</div>

					<div class="article__content-tip">
						Before beginning pranayama practice, it is important to consult with an experienced yoga instructor. Uncontrolled breathing exercises can have undesirable consequences. Systematic and regular practice of pranayama, combined with other aspects of yoga, can lead to improved physical and mental health, helping to achieve harmony and balance in life.
					</div>

					<a href='#' class="article__content-prev article__content-other">
						<div class="article__other-left">
							<div class="article__other-img">
								<img src="/img/content/article/prev.png" alt="">
							</div>
							<div class="article__other-text">
								<p class='article__other-title'>Previous post</p>
								<p class='article__other-desc'>Embarking on a journey through yoga. A beginner's guide</p>
							</div>
						</div>

						<div class="article__other-right">
							<img src="/img/content/article/arrow.svg" alt="">
						</div>
					</a>
				</div>

				<div class="article__comments"></div>

				<div class="article__addComment"></div>
			</div>

			{{> page/blog-filters}}
		</div>

	</main>

	{{> page/footer}}
	{{> page/script}}
</body>

</html>