<!DOCTYPE html>
<html lang="en">

<head>
	{{> page/head title="Embarking on a yoga journey.A beginner's guide" scssFileName="article"}}

	<link rel="stylesheet" href="/src/scss/components/blog-filters.scss">
</head>

<body>
	{{> page/header}}

	<main class='article-main'>
		{{> page/breadcrumbs title="Embarking on a yoga journey. A beginner's guide"}}

		<div class="container">
			<div class="article">
				<div class="article__content">
					<div class="article__content-img">
						<img src="/img/content/blog/second.png" alt="">
					</div>

					<div class="article__content-info">
						<p class="article__content-date">21.01.2024</p>
						<p class="article__content-comments">4 comments</p>
					</div>

					<h3 class="article__content-title">Embarking on a yoga journey. A beginner's guide</h3>

					<div class="article__content-text">
						<p>Let's explore how proper breathing can be the key to physical and emotional well-being. This article on
							pranayama will provide clear techniques and practical tips to help breathing become your reliable guide in
							the world of yoga.</p>
						<p>Breathing is not just a physiological process that supplies oxygen to the body and removes carbon
							dioxide. In the world of yoga, breathing plays a key role in the process of healing and achieving harmony
							between body and mind. The principles of breathing in yoga are studied and developed using a practice
							known as pranayama.</p>
						<p>Pranayama is an ancient practice of breath control that has its roots in the Vedic tradition. “Prana” in
							Sanskrit means life energy, and “ayama” means control. Thus, pranayama refers to the control of life
							energy through breathing.</p>
						<p>Pranayama plays a very significant role in healing the body and promoting mental well-being. Here are a
							few aspects that highlight the importance of pranayama in yoga practice:</p>
					</div>

					<div class="article__content-tip">
						Before beginning pranayama practice, it is important to consult with an experienced yoga instructor.
						Uncontrolled breathing exercises can have undesirable consequences. Systematic and regular practice of
						pranayama, combined with other aspects of yoga, can lead to improved physical and mental health, helping to
						achieve harmony and balance in life.
					</div>

					<a href='#' class="article__content-prev article__content-other">
						<div class="article__other-left">
							<div class="article__other-img">
								<img src="/img/content/article/prev.png" alt="">
							</div>
							<div class="article__other-text">
								<p class='article__other-title'>Previous post</p>
								<p class='article__other-desc'>Embarking on a journey through yoga. A beginner's guide</p>
							</div>
						</div>

						<div class="article__other-right">
							<img src="/img/content/article/arrow.svg" alt="">
						</div>
					</a>
					<a href='#' class="article__content-next article__content-other">
						<div class="article__other-left">
							<div class="article__other-img">
								<img src="/img/content/article/next.png" alt="">
							</div>
							<div class="article__other-text">
								<p class='article__other-title'>Next post</p>
								<p class='article__other-desc'>Fundamentals and benefits of practice.</p>
							</div>
						</div>

						<div class="article__other-right">
							<img src="/img/content/article/arrow.svg" alt="">
						</div>
					</a>
				</div>

				<div class="article__comments">
					<h4 class="article__comments-title">3 comments on “Healing with breath. The role of pranayama in yoga
						practice”</h4>

					<ul class="article__comments-list">
						<li class="article__comments-item">
							<div class="article__comments-img">
								<img src="/img/content/article/chris.png" alt="">
							</div>

							<div class="article__comments-content">
								<div class="comments__content-name">Christina Hill</div>
								<div class="comments__content-date">21.01.2024</div>
								<div class="comments__content-text">A wonderful article about the importance of pranayama in yoga
									practice and its role in healing through breathing. I myself practice yoga regularly and have noticed
									significant changes in my physical and emotional state thanks to the practice of pranayama.</div>
								<a href='#' class="comments__content-reply">
									<p>Reply</p>
									<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_24_2961)">
											<path
												d="M13.4986 7.92C13.4986 8.75 13.1811 9.8775 12.5461 11.3025C12.5311 11.3375 12.5048 11.3975 12.4673 11.4825C12.4298 11.5675 12.3961 11.6425 12.3661 11.7075C12.3361 11.7725 12.3036 11.8275 12.2686 11.8725C12.2086 11.9575 12.1386 12 12.0586 12C11.9836 12 11.9248 11.975 11.8823 11.925C11.8398 11.875 11.8186 11.8125 11.8186 11.7375C11.8186 11.6925 11.8248 11.6262 11.8373 11.5387C11.8498 11.4513 11.8561 11.3925 11.8561 11.3625C11.8811 11.0225 11.8936 10.715 11.8936 10.44C11.8936 9.935 11.8498 9.4825 11.7623 9.0825C11.6748 8.6825 11.5536 8.33625 11.3986 8.04375C11.2436 7.75125 11.0436 7.49875 10.7986 7.28625C10.5536 7.07375 10.2898 6.9 10.0073 6.765C9.72484 6.63 9.39234 6.52375 9.00984 6.44625C8.62734 6.36875 8.24234 6.315 7.85484 6.285C7.46734 6.255 7.02859 6.24 6.53859 6.24H4.85859V8.16C4.85859 8.29 4.81109 8.4025 4.71609 8.4975C4.62109 8.5925 4.50859 8.64 4.37859 8.64C4.24859 8.64 4.13609 8.5925 4.04109 8.4975L0.201094 4.6575C0.106094 4.5625 0.0585938 4.45 0.0585938 4.32C0.0585938 4.19 0.106094 4.0775 0.201094 3.9825L4.04109 0.1425C4.13609 0.0475 4.24859 0 4.37859 0C4.50859 0 4.62109 0.0475 4.71609 0.1425C4.81109 0.2375 4.85859 0.35 4.85859 0.48V2.4H6.53859C10.1036 2.4 12.2911 3.4075 13.1011 5.4225C13.3661 6.0925 13.4986 6.925 13.4986 7.92Z"
												fill="currentcolor" />
										</g>
										<defs>
											<clipPath id="clip0_24_2961">
												<rect width="13.56" height="12" fill="currentcolor" />
											</clipPath>
										</defs>
									</svg>

								</a>
							</div>
						</li>
												<li class="article__comments-item">
							<div class="article__comments-img">
								<img src="/img/content/article/chris.png" alt="">
							</div>

							<div class="article__comments-content">
								<div class="comments__content-name">Christina Hill</div>
								<div class="comments__content-date">21.01.2024</div>
								<div class="comments__content-text">A wonderful article about the importance of pranayama in yoga
									practice and its role in healing through breathing. I myself practice yoga regularly and have noticed
									significant changes in my physical and emotional state thanks to the practice of pranayama.</div>
								<a href='#' class="comments__content-reply">
									<p>Reply</p>
									<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_24_2961)">
											<path
												d="M13.4986 7.92C13.4986 8.75 13.1811 9.8775 12.5461 11.3025C12.5311 11.3375 12.5048 11.3975 12.4673 11.4825C12.4298 11.5675 12.3961 11.6425 12.3661 11.7075C12.3361 11.7725 12.3036 11.8275 12.2686 11.8725C12.2086 11.9575 12.1386 12 12.0586 12C11.9836 12 11.9248 11.975 11.8823 11.925C11.8398 11.875 11.8186 11.8125 11.8186 11.7375C11.8186 11.6925 11.8248 11.6262 11.8373 11.5387C11.8498 11.4513 11.8561 11.3925 11.8561 11.3625C11.8811 11.0225 11.8936 10.715 11.8936 10.44C11.8936 9.935 11.8498 9.4825 11.7623 9.0825C11.6748 8.6825 11.5536 8.33625 11.3986 8.04375C11.2436 7.75125 11.0436 7.49875 10.7986 7.28625C10.5536 7.07375 10.2898 6.9 10.0073 6.765C9.72484 6.63 9.39234 6.52375 9.00984 6.44625C8.62734 6.36875 8.24234 6.315 7.85484 6.285C7.46734 6.255 7.02859 6.24 6.53859 6.24H4.85859V8.16C4.85859 8.29 4.81109 8.4025 4.71609 8.4975C4.62109 8.5925 4.50859 8.64 4.37859 8.64C4.24859 8.64 4.13609 8.5925 4.04109 8.4975L0.201094 4.6575C0.106094 4.5625 0.0585938 4.45 0.0585938 4.32C0.0585938 4.19 0.106094 4.0775 0.201094 3.9825L4.04109 0.1425C4.13609 0.0475 4.24859 0 4.37859 0C4.50859 0 4.62109 0.0475 4.71609 0.1425C4.81109 0.2375 4.85859 0.35 4.85859 0.48V2.4H6.53859C10.1036 2.4 12.2911 3.4075 13.1011 5.4225C13.3661 6.0925 13.4986 6.925 13.4986 7.92Z"
												fill="currentcolor" />
										</g>
										<defs>
											<clipPath id="clip0_24_2961">
												<rect width="13.56" height="12" fill="currentcolor" />
											</clipPath>
										</defs>
									</svg>

								</a>
							</div>
						</li>
					</ul>
				</div>

				<div class="article__addComment"></div>
			</div>

			{{> page/blog-filters}}
		</div>

	</main>

	{{> page/footer}}
	{{> page/script}}
</body>

</html>