<!DOCTYPE html>
<html lang="en">

<head>
	{{> page/head title="Blog" scssFileName="blog"}}

	<link rel="stylesheet" href="/src/scss/components/blog-filters.scss">
</head>

<body>
	{{> page/header}}

	<main class='blog'>
		{{> page/breadcrumbs title="Blog"}}

		<div class="container">
			<div class="tabs">
				<div class="tabs__content">
					<ul class="tab-content active tabs__content-articles">
						<li class="tabs__articles-item">
							<a href="">
								<div class="tabs__article-img">
									<img src="/img/content/blog/first.png" alt="">
								</div>

								<div class="tabs__article-info">
									<div class="tabs__article-date">21.01.2024</div>
									<div class="tabs__article-comments">4 comments</div>
								</div>

								<h3 class="tabs__article-title">Embarking on a journey through yoga. A beginner's guide</h3>

								<div class="tabs__article-text">
									Explore the exciting world of yoga with this article designed for beginners. Learn how to start
									practicing, refresh your understanding of yoga, and unravel the mysteries of this incredible art.
								</div>
							</a>
						</li>
						<li class="tabs__articles-item">
							<a href="">
								<div class="tabs__article-img">
									<img src="/img/content/blog/second.png" alt="">
								</div>

								<div class="tabs__article-info">
									<div class="tabs__article-date">21.01.2024</div>
									<div class="tabs__article-comments">4 comments</div>
								</div>

								<h3 class="tabs__article-title">Healing through breathing. The role of pranayama in yoga practice</h3>

								<div class="tabs__article-text">
									Let's explore how proper breathing can be the key to physical and emotional well-being. This article
									on pranayama will provide clear techniques and practical tips to help breathing become your reliable
									guide in the world of yoga.
								</div>
							</a>
						</li>
						<li class="tabs__articles-item">
							<a href="">
								<div class="tabs__article-img">
									<img src="/img/content/blog/third.png" alt="">
								</div>

								<div class="tabs__article-info">
									<div class="tabs__article-date">21.01.2024</div>
									<div class="tabs__article-comments">4 comments</div>
								</div>

								<h3 class="tabs__article-title">Fundamentals and benefits of the practice.</h3>

								<div class="tabs__article-text">
									Yoga is not just a physical practice, it is a way of life aimed at achieving harmony between body,
									mind, and soul. In this article, we will explore the basics of yoga, including breathing exercises,
									asanas, and meditation, to introduce you to the unique principles of this ancient discipline.
								</div>
							</a>
						</li>
					</ul>
				</div>

				<div class="tabs__buttons">
					<a href='#' class="tab-btn">&#60;</a>
					<a href='#' class="tab-btn active" data-tab="1">1</a>
					<a href='#' class="tab-btn" data-tab="2">2</a>
					<a href='#' class="tab-btn" data-tab="3">3</a>
					<a href='#' class="tab-btn" data-tab="4">4</a>
					<a href='#' class="tab-btn" data-tab="5">5</a>
					<a href='#' class="tab-btn">&#62;</a>
				</div>
			</div>

			{{> page/blog-filters}}
		</div>

	</main>

	{{> page/footer}}
	{{> page/script}}
</body>

</html>