<!DOCTYPE html>
<html lang="en">

<head>
	{{> page/head title="Ashtanga Yoga" scssFileName="class"}}

	<link rel="stylesheet" href="/src/scss/components/classes.scss">
</head>

<body>
	{{> page/header}}

	<main>
		{{> page/breadcrumbs isBig=true title="Ashtanga Yoga" second="Classes"}}

		<section class="tabs margin-top">
			<div class="container">
				<div class="tabs__buttons">
					<button class="tab-btn active" data-tab="1">Ashtanga yoga</button>
					<button class="tab-btn" data-tab="2">Bikram yoga</button>
					<button class="tab-btn" data-tab="3">Kundalini yoga</button>
					<button class="tab-btn" data-tab="4">Hatha yoga</button>
				</div>

				<div class="tabs__content">
					<div class="tab-content active" data-tab="1">
						<div class="tab__content-img">
							<img src="/img/content/class/ashtanga.png" alt="">
						</div>

						<h2 class="tab__content-title">Ashtanga yoga</h2>

						<div class="tab__content-text">
							<p>Ashtanga yoga is an ancient yoga system that includes physical practices, breathing exercises, and
								meditation. This style of yoga was developed by Sri K. Pattabhi Jois in India in the mid-20th century
								and quickly gained popularity around the world.</p>
							<p>Ashtanga yoga follows a strict structure and sequence of poses performed in a specific order. The
								fundamental principles of this practice include synchronizing movements with breathing, creating energy
								flow, and helping to detoxify the body.</p>
							<p>Practitioners of Ashtanga yoga divide it into series, each of which consists of a specific set of
								asanas (yoga poses). The series begins with simpler poses and gradually becomes more complex, allowing
								practitioners to develop and deepen their practice over time.</p>
						</div>
					</div>
					<div class="tab-content" data-tab="2">
						<div class="tab__content-img">
							<img src="/img/content/class/ashtanga.png" alt="">
						</div>

						<h2 class="tab__content-title">Bikram yoga</h2>

						<div class="tab__content-text">
							<p>Ashtanga yoga is an ancient yoga system that includes physical practices, breathing exercises, and
								meditation. This style of yoga was developed by Sri K. Pattabhi Jois in India in the mid-20th century
								and quickly gained popularity around the world.</p>
							<p>Ashtanga yoga follows a strict structure and sequence of poses performed in a specific order. The
								fundamental principles of this practice include synchronizing movements with breathing, creating energy
								flow, and helping to detoxify the body.</p>
							<p>Practitioners of Ashtanga yoga divide it into series, each of which consists of a specific set of
								asanas (yoga poses). The series begins with simpler poses and gradually becomes more complex, allowing
								practitioners to develop and deepen their practice over time.</p>
						</div>
					</div>
					<div class="tab-content" data-tab="3">
						<div class="tab__content-img">
							<img src="/img/content/class/ashtanga.png" alt="">
						</div>

						<h2 class="tab__content-title">Kundalini yoga</h2>

						<div class="tab__content-text">
							<p>Ashtanga yoga is an ancient yoga system that includes physical practices, breathing exercises, and
								meditation. This style of yoga was developed by Sri K. Pattabhi Jois in India in the mid-20th century
								and quickly gained popularity around the world.</p>
							<p>Ashtanga yoga follows a strict structure and sequence of poses performed in a specific order. The
								fundamental principles of this practice include synchronizing movements with breathing, creating energy
								flow, and helping to detoxify the body.</p>
							<p>Practitioners of Ashtanga yoga divide it into series, each of which consists of a specific set of
								asanas (yoga poses). The series begins with simpler poses and gradually becomes more complex, allowing
								practitioners to develop and deepen their practice over time.</p>
						</div>
					</div>
					<div class="tab-content" data-tab="4">
						<div class="tab__content-img">
							<img src="/img/content/class/ashtanga.png" alt="">
						</div>

						<h2 class="tab__content-title">Hatha yoga</h2>

						<div class="tab__content-text">
							<p>Ashtanga yoga is an ancient yoga system that includes physical practices, breathing exercises, and
								meditation. This style of yoga was developed by Sri K. Pattabhi Jois in India in the mid-20th century
								and quickly gained popularity around the world.</p>
							<p>Ashtanga yoga follows a strict structure and sequence of poses performed in a specific order. The
								fundamental principles of this practice include synchronizing movements with breathing, creating energy
								flow, and helping to detoxify the body.</p>
							<p>Practitioners of Ashtanga yoga divide it into series, each of which consists of a specific set of
								asanas (yoga poses). The series begins with simpler poses and gradually becomes more complex, allowing
								practitioners to develop and deepen their practice over time.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		{{> page/classes}}
	</main>

	{{> page/footer}}
	{{> page/script}}
	<script type='module' src='/src/js/lib/tabs.js'></script>
</body>

</html>