<!DOCTYPE html>
<html lang="en">
<head>
	{{> page/head title="Classes" scssFileName="classes"}}

  <link rel="stylesheet" href="/src/scss/components/classes.scss">
</head>
<body>
	{{> page/header}}

	<main>
		{{> page/breadcrumbs title="Classes"}}

<section class="hero">
	<div class="container">
		<div class="hero__img">
			<img src="/img/content/classes/hero.png" alt="">
		</div>

		<div class="hero__content">
			<h2 class="hero__title">Our classes</h2>

			<div class="hero__text">
				<p>Explore the depths of yogic practice with our diverse selection of classes:</p>

				<ul class="hero__list">
					<li class="hero__list-item">Ashtanga Yoga: A powerful and dynamic practice to strengthen the body and mind.</li>
					<li class="hero__list-item">Bikram yoga: Intense classes in a heated room for maximum stretching and cleansing.</li>
					<li class="hero__list-item">Hatha yoga: Balancing physical and mental aspects through static poses and breathing.</li>
					<li class="hero__list-item">Kundalini Yoga: Energy practices and meditations to awaken your inner strength and awareness. Choose your path to harmony and well-being with our professional instructors.</li>
				</ul>
			</div>
		</div>
	</div>
</section>

		{{> page/classes}}
	</main>

	  {{> page/footer}}
  {{> page/script}}
</body>
</html>