<html lang="en">

<head>
  {{> page/head title="Home Page" scssFileName="index"}}

  <link rel="stylesheet" href="/src/scss/components/instructors.scss">
  <link rel="stylesheet" href="/src/scss/components/gallery.scss">
  <link rel="stylesheet" href="/src/scss/components/application.scss">
</head>

<body>
  {{> page/header}}

  <main>

    <section class="hero-section">
      <div class="hero swiper">
        <div class="hero-wrapper swiper-wrapper">
          <div class="hero-slide swiper-slide" style='background-image: url("/img/content/hero_slide_1.png");'>
            <div class="container">
              <div class="hero-content">
                <h2 class="hero-title">Discover Harmony at Vinyasa Yoga Studio</h2>
                <p class="hero-subtitle">Founded back in 2005, when the word “yoga” was not yet as popular with the
                  public as it is today. Now we are the largest and best place to practice yoga within a 100-mile
                  radius!</p>
                <button class="hero-btn blue-button">About studio</button>
              </div>
            </div>
          </div>
          <div class="hero-slide swiper-slide" style='background-image: url("/img/content/hero_slide_2.png");'>
            <div class="container">
              <div class="hero-content">
                <h2 class="hero-title">Immerse yourself in the art of yoga with Vinyasa</h2>
                <p class="hero-subtitle">Discover the depths of yoga practice with Vinyasa, an art that weaves movement
                  and breath into a harmonious unity. On our website, you will find lessons that inspire you to become
                  more flexible, strong, and calm. Let's embark on a journey together toward harmony of body, mind, and
                  soul.</p>
                <button class="hero-btn blue-button">About studio</button>
              </div>
            </div>
          </div>
          <div class="hero-slide swiper-slide" style='background-image: url("/img/content/hero_slide_3.png");'>
            <div class="container">
              <div class="hero-content">
                <h2 class="hero-title">Find Harmony in Movement</h2>
                <p class="hero-subtitle">Discover the art of harmony with Vinyasa yoga. Our classes will help you unlock
                  your potential, develop flexibility and strength, and find inner harmony and peace of mind. Join us on
                  the path to health and well-being!</p>
                <button class="hero-btn blue-button">About studio</button>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-pagination swiper-pagination"></div>

        <div class="hero-button-prev swiper-button-prev"><svg width="11" height="22" viewBox="0 0 11 22" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 10.5769C0 10.331 0.0896005 10.0849 0.2686 9.89708L9.4351 0.281775C9.7933 -0.093925 10.3733 -0.093925 10.7313 0.281775C11.0892 0.657575 11.0894 1.26598 10.7313 1.64138L2.2128 10.5769L10.7313 19.5124C11.0894 19.8881 11.0894 20.4966 10.7313 20.872C10.3731 21.2475 9.7931 21.2478 9.4351 20.872L0.2686 11.2567C0.0896005 11.069 0 10.8229 0 10.5769Z"
              fill="#3D445D" />
          </svg>
        </div>
        <div class="hero-button-next swiper-button-next"><svg width="11" height="22" viewBox="0 0 11 22" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 10.5769C0 10.331 0.0896005 10.0849 0.2686 9.89708L9.4351 0.281775C9.7933 -0.093925 10.3733 -0.093925 10.7313 0.281775C11.0892 0.657575 11.0894 1.26598 10.7313 1.64138L2.2128 10.5769L10.7313 19.5124C11.0894 19.8881 11.0894 20.4966 10.7313 20.872C10.3731 21.2475 9.7931 21.2478 9.4351 20.872L0.2686 11.2567C0.0896005 11.069 0 10.8229 0 10.5769Z"
              fill="#3D445D" />
          </svg>
        </div>
      </div>
    </section>

    <section class="about margin-top">
      <div class="container">
        <div class="about__left">
          <h3 class="about__title section-title">About our studio</h3>
          <div class="about__text">
            <p>Welcome to Vinyasa Studio, a place where elegant movement and deep awareness come together. Our studio
              offers a unique space for those who seek harmony of body and mind through the art of yoga. </p>
            <p><span class='bold'>Vinyasa</span> is not just yoga classes, it is an immersion into the fascinating world
              of your own body, breath, and soul. Our classes provide an opportunity for each student to discover their
              own unique path to well-being and inner balance.</p>
          </div>
          <div class="about__stats">
            <div class="about__stats-item">
              <p class="about__stats-title">20</p>
              <p class="about__stats-subtitle">years of experience</p>
            </div>
            <div class="about__stats-item">
              <p class="about__stats-title">500</p>
              <p class="about__stats-subtitle">Trained students</p>
            </div>
            <div class="about__stats-item">
              <p class="about__stats-title">900</p>
              <p class="about__stats-subtitle">Classes conducted</p>
            </div>
            <div class="about__stats-item">
              <p class="about__stats-title">15</p>
              <p class="about__stats-subtitle">Experienced instructors</p>
            </div>
          </div>
        </div>

        <div class="about__right">
          <div class="about__img-wrapper">
            <div class="about__img--big">
              <img src="/img/content/about-1.png" alt="">

              <div class="about__img--small">
                <img src="/img/content/about-2.png" alt="">
              </div>
            </div>
          </div>

          <button class="about__btn blue-button">Learn more</button>
        </div>
      </div>
    </section>

    <section class="classes margin-top">
      <div class="container">
        <h3 class="classes__title section-title">Classes</h3>

        <p class="classes__subtitle section-subtitle">A variety of practices for all levels</p>

        <div class="classes__list">
          <ul>
            <li class='classes__list-item'>
              <a href="">
                <div class="classes__item-img">
                  <img src="/img/content/classes-1.png" alt="">
                </div>

                <h4 class="classes__item-title">Ashtanga yoga</h4>
              </a>
            </li>
            <li class='classes__list-item'>
              <a href="">
                <div class="classes__item-img">
                  <img src="/img/content/classes-2.png" alt="">
                </div>

                <h4 class="classes__item-title">Bikram yoga</h4>
              </a>
            </li>
            <li class='classes__list-item'>
              <a href="">
                <div class="classes__item-img">
                  <img src="/img/content/classes-3.png" alt="">
                </div>

                <h4 class="classes__item-title">Kundalini yoga</h4>
              </a>
            </li>
            <li class='classes__list-item'>
              <a href="">
                <div class="classes__item-img">
                  <img src="/img/content/classes-4.png" alt="">
                </div>

                <h4 class="classes__item-title">Hatha yoga</h4>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    {{> page/instructors}}

    {{> page/gallery isBig=false}}

    <section class="faq margin-top">
      <div class="container">
        <h3 class="faq__title section-title">FAQ</h3>

        <p class="faq__subtitle section-subtitle">FAQ for ease and clarity in your yoga experience at Vinyasa Studio.
        </p>

        <div class="faq__main" data-accordion='' data-single="true">
          <div class="faq__main-item" data-acc-item=''>
            <button class="faq__item-trigger" type="button" data-acc-trigger=''>
              <span class="faq__item-header">Can I come to class in the evening?</span>
              <span class="faq__item-icon" aria-hidden="true"></span>
            </button>

            <div class="faq__item-content" data-acc-content=''>
              <div class="faq__item-inner">
                Yes, you can come to classes in the evening. In the evenings, we offer hatha yoga, ashtanga yoga, and
                meditation classes. Come on by, we'll be happy to see you.
              </div>
            </div>
          </div>
          <div class="faq__main-item" data-acc-item=''>
            <button class="faq__item-trigger" type="button" data-acc-trigger=''>
              <span class="faq__item-header">How to choose the right class for your level of preparation?</span>
              <span class="faq__item-icon" aria-hidden="true"></span>
            </button>

            <div class="faq__item-content" data-acc-content=''>
              <div class="faq__item-inner">
                Assess your knowledge and experience, and choose a class with the appropriate level of difficulty. Start
                with the basics and gradually move on to more advanced classes, taking into account your goals and
                interests.
              </div>
            </div>
          </div>
          <div class="faq__main-item" data-acc-item=''>
            <button class="faq__item-trigger" type="button" data-acc-trigger=''>
              <span class="faq__item-header">What should I wear to yoga class?</span>
              <span class="faq__item-icon" aria-hidden="true"></span>
            </button>

            <div class="faq__item-content" data-acc-content=''>
              <div class="faq__item-inner">
                Choose comfortable clothing that allows freedom of movement. Stretch fabrics are preferable. Shoes are
                not required, but wear clean socks.
              </div>
            </div>
          </div>
          <div class="faq__main-item" data-acc-item=''>
            <button class="faq__item-trigger" type="button" data-acc-trigger=''>
              <span class="faq__item-header">How long does it take to see results from practicing yoga?</span>
              <span class="faq__item-icon" aria-hidden="true"></span>
            </button>

            <div class="faq__item-content" data-acc-content=''>
              <div class="faq__item-inner">
                Visible results from practicing yoga may appear after a few weeks. However, improving flexibility,
                strength, and mental well-being may require several months of regular practice.
              </div>
            </div>
          </div>
          <div class="faq__main-item" data-acc-item=''>
            <button class="faq__item-trigger" type="button" data-acc-trigger=''>
              <span class="faq__item-header">Can I practice yoga if I have injuries or limitations?</span>
              <span class="faq__item-icon" aria-hidden="true"></span>
            </button>

            <div class="faq__item-content" data-acc-content=''>
              <div class="faq__item-inner">
                Yes, but with caution. Consult your doctor before starting yoga, especially if you have any injuries or
                limitations. Choose a suitable style of yoga and inform your instructor of your limitations so that they
                can adapt the practice accordingly.
              </div>
            </div>
          </div>
          <div class="faq__main-item" data-acc-item=''>
            <button class="faq__item-trigger" type="button" data-acc-trigger=''>
              <span class="faq__item-header">What are the benefits of meditation as part of yoga practice?</span>
              <span class="faq__item-icon" aria-hidden="true"></span>
            </button>

            <div class="faq__item-content" data-acc-content=''>
              <div class="faq__item-inner">
                Meditation as part of yoga helps improve concentration, reduce stress, strengthen emotional well-being,
                and increase awareness. It also helps balance the mind and improve overall physical and mental health.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="feedback margin-top">
      <div class="container">
        <h3 class="feedback__title section-title">Feedback</h3>
        <p class="feedback__subtitle section-subtitle">Feedback and impressions from our students about the Vinyasa
          studio</p>

        <div class="feedback__slider swiper">
          <div class="feedback__slider-wrapper swiper-wrapper">
            <div class="feedback__slider-slide swiper-slide">
              <div class="slide-inner">
                <div class="slide__img">
                  <img src="/img/content/feedback-1.png" alt="">
                </div>

                <div class="slide__content">
                  <h4 class="slide__name">Alexey Ivanov</h4>

                  <p class="slide__text">I tried yoga for the first time at the Vinyasa studio and was amazed by the
                    warm welcome and care. The classes are not only effective but also enjoyable. I recommend it to
                    anyone looking for harmony and strength.</p>

                  <ul class="slide__socials">
                    <li>
                      <a target="_blank" href="https://whatsapp.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_567)">
                            <path
                              d="M9.42531 9.72748e-05H9.4206C4.22535 9.72748e-05 0.000610352 4.22602 0.000610352 9.42244C0.000610352 11.4836 0.664885 13.394 1.79439 14.9451L0.620129 18.4455L4.24184 17.2877C5.73175 18.2747 7.50904 18.8448 9.42531 18.8448C14.6205 18.8448 18.8453 14.6177 18.8453 9.42244C18.8453 4.22719 14.6205 9.72748e-05 9.42531 9.72748e-05ZM14.9079 13.3056C14.6806 13.9475 13.7784 14.4799 13.0588 14.6353C12.5665 14.7402 11.9234 14.8238 9.75862 13.9263C6.98963 12.7791 5.20645 9.9654 5.06747 9.78284C4.93438 9.60028 3.94857 8.29293 3.94857 6.94083C3.94857 5.58872 4.63522 4.93034 4.91201 4.64767C5.13932 4.41564 5.51504 4.30964 5.87544 4.30964C5.99204 4.30964 6.09686 4.31553 6.19109 4.32024C6.46787 4.33202 6.60685 4.34851 6.78941 4.78547C7.01672 5.33314 7.57028 6.68525 7.63624 6.82423C7.70337 6.96321 7.77051 7.15165 7.67628 7.33421C7.58795 7.52266 7.51022 7.60628 7.37124 7.76646C7.23226 7.92664 7.10034 8.04913 6.96136 8.22109C6.83416 8.37067 6.69047 8.53085 6.85065 8.80763C7.01083 9.07852 7.56439 9.98189 8.37943 10.7074C9.4312 11.6438 10.2839 11.9429 10.589 12.0701C10.8163 12.1643 11.0872 12.142 11.2532 11.9653C11.4641 11.738 11.7244 11.3611 11.9894 10.9901C12.1778 10.7239 12.4157 10.6909 12.6654 10.7851C12.9198 10.8735 14.266 11.5389 14.5428 11.6767C14.8196 11.8157 15.0022 11.8817 15.0693 11.9983C15.1352 12.1149 15.1352 12.6625 14.9079 13.3056Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_567">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://telegram.org">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_572)">
                            <path
                              d="M0.332731 9.08582L4.67492 10.7065L6.35562 16.1116C6.46316 16.4577 6.88647 16.5857 7.16745 16.356L9.58786 14.3828C9.84157 14.1761 10.2029 14.1658 10.4681 14.3582L14.8336 17.5277C15.1342 17.7462 15.5601 17.5815 15.6354 17.2183L18.8334 1.83533C18.9157 1.43859 18.5259 1.10761 18.1481 1.25372L0.327643 8.12832C-0.11213 8.29792 -0.108298 8.92055 0.332731 9.08582ZM6.08476 9.84375L14.571 4.61706C14.7235 4.5234 14.8804 4.72962 14.7495 4.85111L7.74585 11.3613C7.49968 11.5905 7.34088 11.8971 7.2959 12.23L7.05733 13.998C7.02573 14.2341 6.69413 14.2575 6.62899 14.029L5.71144 10.805C5.60635 10.4373 5.7595 10.0445 6.08476 9.84375Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_572">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://x.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_576)">
                            <path
                              d="M18.8452 3.57931C18.1444 3.88672 17.3977 4.09048 16.6191 4.18941C17.42 3.71123 18.0313 2.9598 18.3187 2.05407C17.572 2.49928 16.7475 2.81375 15.8689 2.98924C15.1599 2.23428 14.1493 1.76669 13.0469 1.76669C10.908 1.76669 9.18609 3.50276 9.18609 5.63103C9.18609 5.93726 9.212 6.2317 9.2756 6.51202C6.06376 6.35537 3.22175 4.816 1.31255 2.47101C0.979234 3.04931 0.78372 3.71123 0.78372 4.42379C0.78372 5.76176 1.47273 6.9478 2.49976 7.63445C1.87907 7.62268 1.27015 7.44247 0.754276 7.15863C0.754276 7.1704 0.754276 7.18572 0.754276 7.20103C0.754276 9.07843 2.09343 10.6378 3.84951 10.9971C3.53504 11.083 3.19231 11.1243 2.83661 11.1243C2.58928 11.1243 2.33958 11.1101 2.1052 11.0583C2.60577 12.5883 4.02618 13.713 5.71514 13.7496C4.40072 14.7778 2.73179 15.3973 0.925055 15.3973C0.608229 15.3973 0.304359 15.3832 0.000488281 15.3443C1.71182 16.4479 3.73998 17.078 5.92714 17.078C13.0363 17.078 16.923 11.189 16.923 6.08448C16.923 5.9137 16.9171 5.74881 16.9089 5.5851C17.6756 5.04095 18.3199 4.36137 18.8452 3.57931Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_576">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="feedback__slider-slide swiper-slide">
              <div class="slide-inner">
                <div class="slide__img">
                  <img src="/img/content/feedback-2.png" alt="">
                </div>

                <div class="slide__content">
                  <h4 class="slide__name">Eliza Collins</h4>

                  <p class="slide__text">I am impressed by the professionalism of the instructors and the beautiful design of the studio. Here, I have found not only excellent classes, but also support on my personal yoga journey. Thank you, Vinyasa.</p>

                  <ul class="slide__socials">
                    <li>
                      <a target="_blank" href="https://whatsapp.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_567)">
                            <path
                              d="M9.42531 9.72748e-05H9.4206C4.22535 9.72748e-05 0.000610352 4.22602 0.000610352 9.42244C0.000610352 11.4836 0.664885 13.394 1.79439 14.9451L0.620129 18.4455L4.24184 17.2877C5.73175 18.2747 7.50904 18.8448 9.42531 18.8448C14.6205 18.8448 18.8453 14.6177 18.8453 9.42244C18.8453 4.22719 14.6205 9.72748e-05 9.42531 9.72748e-05ZM14.9079 13.3056C14.6806 13.9475 13.7784 14.4799 13.0588 14.6353C12.5665 14.7402 11.9234 14.8238 9.75862 13.9263C6.98963 12.7791 5.20645 9.9654 5.06747 9.78284C4.93438 9.60028 3.94857 8.29293 3.94857 6.94083C3.94857 5.58872 4.63522 4.93034 4.91201 4.64767C5.13932 4.41564 5.51504 4.30964 5.87544 4.30964C5.99204 4.30964 6.09686 4.31553 6.19109 4.32024C6.46787 4.33202 6.60685 4.34851 6.78941 4.78547C7.01672 5.33314 7.57028 6.68525 7.63624 6.82423C7.70337 6.96321 7.77051 7.15165 7.67628 7.33421C7.58795 7.52266 7.51022 7.60628 7.37124 7.76646C7.23226 7.92664 7.10034 8.04913 6.96136 8.22109C6.83416 8.37067 6.69047 8.53085 6.85065 8.80763C7.01083 9.07852 7.56439 9.98189 8.37943 10.7074C9.4312 11.6438 10.2839 11.9429 10.589 12.0701C10.8163 12.1643 11.0872 12.142 11.2532 11.9653C11.4641 11.738 11.7244 11.3611 11.9894 10.9901C12.1778 10.7239 12.4157 10.6909 12.6654 10.7851C12.9198 10.8735 14.266 11.5389 14.5428 11.6767C14.8196 11.8157 15.0022 11.8817 15.0693 11.9983C15.1352 12.1149 15.1352 12.6625 14.9079 13.3056Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_567">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://telegram.org">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_572)">
                            <path
                              d="M0.332731 9.08582L4.67492 10.7065L6.35562 16.1116C6.46316 16.4577 6.88647 16.5857 7.16745 16.356L9.58786 14.3828C9.84157 14.1761 10.2029 14.1658 10.4681 14.3582L14.8336 17.5277C15.1342 17.7462 15.5601 17.5815 15.6354 17.2183L18.8334 1.83533C18.9157 1.43859 18.5259 1.10761 18.1481 1.25372L0.327643 8.12832C-0.11213 8.29792 -0.108298 8.92055 0.332731 9.08582ZM6.08476 9.84375L14.571 4.61706C14.7235 4.5234 14.8804 4.72962 14.7495 4.85111L7.74585 11.3613C7.49968 11.5905 7.34088 11.8971 7.2959 12.23L7.05733 13.998C7.02573 14.2341 6.69413 14.2575 6.62899 14.029L5.71144 10.805C5.60635 10.4373 5.7595 10.0445 6.08476 9.84375Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_572">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://x.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_576)">
                            <path
                              d="M18.8452 3.57931C18.1444 3.88672 17.3977 4.09048 16.6191 4.18941C17.42 3.71123 18.0313 2.9598 18.3187 2.05407C17.572 2.49928 16.7475 2.81375 15.8689 2.98924C15.1599 2.23428 14.1493 1.76669 13.0469 1.76669C10.908 1.76669 9.18609 3.50276 9.18609 5.63103C9.18609 5.93726 9.212 6.2317 9.2756 6.51202C6.06376 6.35537 3.22175 4.816 1.31255 2.47101C0.979234 3.04931 0.78372 3.71123 0.78372 4.42379C0.78372 5.76176 1.47273 6.9478 2.49976 7.63445C1.87907 7.62268 1.27015 7.44247 0.754276 7.15863C0.754276 7.1704 0.754276 7.18572 0.754276 7.20103C0.754276 9.07843 2.09343 10.6378 3.84951 10.9971C3.53504 11.083 3.19231 11.1243 2.83661 11.1243C2.58928 11.1243 2.33958 11.1101 2.1052 11.0583C2.60577 12.5883 4.02618 13.713 5.71514 13.7496C4.40072 14.7778 2.73179 15.3973 0.925055 15.3973C0.608229 15.3973 0.304359 15.3832 0.000488281 15.3443C1.71182 16.4479 3.73998 17.078 5.92714 17.078C13.0363 17.078 16.923 11.189 16.923 6.08448C16.923 5.9137 16.9171 5.74881 16.9089 5.5851C17.6756 5.04095 18.3199 4.36137 18.8452 3.57931Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_576">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="feedback__slider-slide swiper-slide">
              <div class="slide-inner">
                <div class="slide__img">
                  <img src="/img/content/feedback-3.png" alt="">
                </div>

                <div class="slide__content">
                  <h4 class="slide__name">Anna Mironova</h4>

                  <p class="slide__text">I am very grateful to the Vinyasa studio for its inspiring classes and care for each student. Here, I learned to listen to my body and found the path to inner balance.</p>

                  <ul class="slide__socials">
                    <li>
                      <a target="_blank" href="https://whatsapp.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_567)">
                            <path
                              d="M9.42531 9.72748e-05H9.4206C4.22535 9.72748e-05 0.000610352 4.22602 0.000610352 9.42244C0.000610352 11.4836 0.664885 13.394 1.79439 14.9451L0.620129 18.4455L4.24184 17.2877C5.73175 18.2747 7.50904 18.8448 9.42531 18.8448C14.6205 18.8448 18.8453 14.6177 18.8453 9.42244C18.8453 4.22719 14.6205 9.72748e-05 9.42531 9.72748e-05ZM14.9079 13.3056C14.6806 13.9475 13.7784 14.4799 13.0588 14.6353C12.5665 14.7402 11.9234 14.8238 9.75862 13.9263C6.98963 12.7791 5.20645 9.9654 5.06747 9.78284C4.93438 9.60028 3.94857 8.29293 3.94857 6.94083C3.94857 5.58872 4.63522 4.93034 4.91201 4.64767C5.13932 4.41564 5.51504 4.30964 5.87544 4.30964C5.99204 4.30964 6.09686 4.31553 6.19109 4.32024C6.46787 4.33202 6.60685 4.34851 6.78941 4.78547C7.01672 5.33314 7.57028 6.68525 7.63624 6.82423C7.70337 6.96321 7.77051 7.15165 7.67628 7.33421C7.58795 7.52266 7.51022 7.60628 7.37124 7.76646C7.23226 7.92664 7.10034 8.04913 6.96136 8.22109C6.83416 8.37067 6.69047 8.53085 6.85065 8.80763C7.01083 9.07852 7.56439 9.98189 8.37943 10.7074C9.4312 11.6438 10.2839 11.9429 10.589 12.0701C10.8163 12.1643 11.0872 12.142 11.2532 11.9653C11.4641 11.738 11.7244 11.3611 11.9894 10.9901C12.1778 10.7239 12.4157 10.6909 12.6654 10.7851C12.9198 10.8735 14.266 11.5389 14.5428 11.6767C14.8196 11.8157 15.0022 11.8817 15.0693 11.9983C15.1352 12.1149 15.1352 12.6625 14.9079 13.3056Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_567">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://telegram.org">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_572)">
                            <path
                              d="M0.332731 9.08582L4.67492 10.7065L6.35562 16.1116C6.46316 16.4577 6.88647 16.5857 7.16745 16.356L9.58786 14.3828C9.84157 14.1761 10.2029 14.1658 10.4681 14.3582L14.8336 17.5277C15.1342 17.7462 15.5601 17.5815 15.6354 17.2183L18.8334 1.83533C18.9157 1.43859 18.5259 1.10761 18.1481 1.25372L0.327643 8.12832C-0.11213 8.29792 -0.108298 8.92055 0.332731 9.08582ZM6.08476 9.84375L14.571 4.61706C14.7235 4.5234 14.8804 4.72962 14.7495 4.85111L7.74585 11.3613C7.49968 11.5905 7.34088 11.8971 7.2959 12.23L7.05733 13.998C7.02573 14.2341 6.69413 14.2575 6.62899 14.029L5.71144 10.805C5.60635 10.4373 5.7595 10.0445 6.08476 9.84375Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_572">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://x.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_576)">
                            <path
                              d="M18.8452 3.57931C18.1444 3.88672 17.3977 4.09048 16.6191 4.18941C17.42 3.71123 18.0313 2.9598 18.3187 2.05407C17.572 2.49928 16.7475 2.81375 15.8689 2.98924C15.1599 2.23428 14.1493 1.76669 13.0469 1.76669C10.908 1.76669 9.18609 3.50276 9.18609 5.63103C9.18609 5.93726 9.212 6.2317 9.2756 6.51202C6.06376 6.35537 3.22175 4.816 1.31255 2.47101C0.979234 3.04931 0.78372 3.71123 0.78372 4.42379C0.78372 5.76176 1.47273 6.9478 2.49976 7.63445C1.87907 7.62268 1.27015 7.44247 0.754276 7.15863C0.754276 7.1704 0.754276 7.18572 0.754276 7.20103C0.754276 9.07843 2.09343 10.6378 3.84951 10.9971C3.53504 11.083 3.19231 11.1243 2.83661 11.1243C2.58928 11.1243 2.33958 11.1101 2.1052 11.0583C2.60577 12.5883 4.02618 13.713 5.71514 13.7496C4.40072 14.7778 2.73179 15.3973 0.925055 15.3973C0.608229 15.3973 0.304359 15.3832 0.000488281 15.3443C1.71182 16.4479 3.73998 17.078 5.92714 17.078C13.0363 17.078 16.923 11.189 16.923 6.08448C16.923 5.9137 16.9171 5.74881 16.9089 5.5851C17.6756 5.04095 18.3199 4.36137 18.8452 3.57931Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_576">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="feedback__slider-slide swiper-slide">
              <div class="slide-inner">
                <div class="slide__img">
                  <img src="/img/content/feedback-4.png" alt="">
                </div>

                <div class="slide__content">
                  <h4 class="slide__name">Liam Ivanovski</h4>

                  <p class="slide__text">Practicing yoga at the Vinyasa studio has been a real revelation for me. Each class is an opportunity to disconnect from the hustle and bustle of everyday life and find harmony.</p>

                  <ul class="slide__socials">
                    <li>
                      <a target="_blank" href="https://whatsapp.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_567)">
                            <path
                              d="M9.42531 9.72748e-05H9.4206C4.22535 9.72748e-05 0.000610352 4.22602 0.000610352 9.42244C0.000610352 11.4836 0.664885 13.394 1.79439 14.9451L0.620129 18.4455L4.24184 17.2877C5.73175 18.2747 7.50904 18.8448 9.42531 18.8448C14.6205 18.8448 18.8453 14.6177 18.8453 9.42244C18.8453 4.22719 14.6205 9.72748e-05 9.42531 9.72748e-05ZM14.9079 13.3056C14.6806 13.9475 13.7784 14.4799 13.0588 14.6353C12.5665 14.7402 11.9234 14.8238 9.75862 13.9263C6.98963 12.7791 5.20645 9.9654 5.06747 9.78284C4.93438 9.60028 3.94857 8.29293 3.94857 6.94083C3.94857 5.58872 4.63522 4.93034 4.91201 4.64767C5.13932 4.41564 5.51504 4.30964 5.87544 4.30964C5.99204 4.30964 6.09686 4.31553 6.19109 4.32024C6.46787 4.33202 6.60685 4.34851 6.78941 4.78547C7.01672 5.33314 7.57028 6.68525 7.63624 6.82423C7.70337 6.96321 7.77051 7.15165 7.67628 7.33421C7.58795 7.52266 7.51022 7.60628 7.37124 7.76646C7.23226 7.92664 7.10034 8.04913 6.96136 8.22109C6.83416 8.37067 6.69047 8.53085 6.85065 8.80763C7.01083 9.07852 7.56439 9.98189 8.37943 10.7074C9.4312 11.6438 10.2839 11.9429 10.589 12.0701C10.8163 12.1643 11.0872 12.142 11.2532 11.9653C11.4641 11.738 11.7244 11.3611 11.9894 10.9901C12.1778 10.7239 12.4157 10.6909 12.6654 10.7851C12.9198 10.8735 14.266 11.5389 14.5428 11.6767C14.8196 11.8157 15.0022 11.8817 15.0693 11.9983C15.1352 12.1149 15.1352 12.6625 14.9079 13.3056Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_567">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://telegram.org">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_572)">
                            <path
                              d="M0.332731 9.08582L4.67492 10.7065L6.35562 16.1116C6.46316 16.4577 6.88647 16.5857 7.16745 16.356L9.58786 14.3828C9.84157 14.1761 10.2029 14.1658 10.4681 14.3582L14.8336 17.5277C15.1342 17.7462 15.5601 17.5815 15.6354 17.2183L18.8334 1.83533C18.9157 1.43859 18.5259 1.10761 18.1481 1.25372L0.327643 8.12832C-0.11213 8.29792 -0.108298 8.92055 0.332731 9.08582ZM6.08476 9.84375L14.571 4.61706C14.7235 4.5234 14.8804 4.72962 14.7495 4.85111L7.74585 11.3613C7.49968 11.5905 7.34088 11.8971 7.2959 12.23L7.05733 13.998C7.02573 14.2341 6.69413 14.2575 6.62899 14.029L5.71144 10.805C5.60635 10.4373 5.7595 10.0445 6.08476 9.84375Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_572">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://x.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_576)">
                            <path
                              d="M18.8452 3.57931C18.1444 3.88672 17.3977 4.09048 16.6191 4.18941C17.42 3.71123 18.0313 2.9598 18.3187 2.05407C17.572 2.49928 16.7475 2.81375 15.8689 2.98924C15.1599 2.23428 14.1493 1.76669 13.0469 1.76669C10.908 1.76669 9.18609 3.50276 9.18609 5.63103C9.18609 5.93726 9.212 6.2317 9.2756 6.51202C6.06376 6.35537 3.22175 4.816 1.31255 2.47101C0.979234 3.04931 0.78372 3.71123 0.78372 4.42379C0.78372 5.76176 1.47273 6.9478 2.49976 7.63445C1.87907 7.62268 1.27015 7.44247 0.754276 7.15863C0.754276 7.1704 0.754276 7.18572 0.754276 7.20103C0.754276 9.07843 2.09343 10.6378 3.84951 10.9971C3.53504 11.083 3.19231 11.1243 2.83661 11.1243C2.58928 11.1243 2.33958 11.1101 2.1052 11.0583C2.60577 12.5883 4.02618 13.713 5.71514 13.7496C4.40072 14.7778 2.73179 15.3973 0.925055 15.3973C0.608229 15.3973 0.304359 15.3832 0.000488281 15.3443C1.71182 16.4479 3.73998 17.078 5.92714 17.078C13.0363 17.078 16.923 11.189 16.923 6.08448C16.923 5.9137 16.9171 5.74881 16.9089 5.5851C17.6756 5.04095 18.3199 4.36137 18.8452 3.57931Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_576">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="feedback__slider-slide swiper-slide">
              <div class="slide-inner">
                <div class="slide__img">
                  <img src="/img/content/feedback-1.png" alt="">
                </div>

                <div class="slide__content">
                  <h4 class="slide__name">Alexey Ivanov</h4>

                  <p class="slide__text">I tried yoga for the first time at the Vinyasa studio and was amazed by the
                    warm welcome and care. The classes are not only effective but also enjoyable. I recommend it to
                    anyone looking for harmony and strength.</p>

                  <ul class="slide__socials">
                    <li>
                      <a target="_blank" href="https://whatsapp.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_567)">
                            <path
                              d="M9.42531 9.72748e-05H9.4206C4.22535 9.72748e-05 0.000610352 4.22602 0.000610352 9.42244C0.000610352 11.4836 0.664885 13.394 1.79439 14.9451L0.620129 18.4455L4.24184 17.2877C5.73175 18.2747 7.50904 18.8448 9.42531 18.8448C14.6205 18.8448 18.8453 14.6177 18.8453 9.42244C18.8453 4.22719 14.6205 9.72748e-05 9.42531 9.72748e-05ZM14.9079 13.3056C14.6806 13.9475 13.7784 14.4799 13.0588 14.6353C12.5665 14.7402 11.9234 14.8238 9.75862 13.9263C6.98963 12.7791 5.20645 9.9654 5.06747 9.78284C4.93438 9.60028 3.94857 8.29293 3.94857 6.94083C3.94857 5.58872 4.63522 4.93034 4.91201 4.64767C5.13932 4.41564 5.51504 4.30964 5.87544 4.30964C5.99204 4.30964 6.09686 4.31553 6.19109 4.32024C6.46787 4.33202 6.60685 4.34851 6.78941 4.78547C7.01672 5.33314 7.57028 6.68525 7.63624 6.82423C7.70337 6.96321 7.77051 7.15165 7.67628 7.33421C7.58795 7.52266 7.51022 7.60628 7.37124 7.76646C7.23226 7.92664 7.10034 8.04913 6.96136 8.22109C6.83416 8.37067 6.69047 8.53085 6.85065 8.80763C7.01083 9.07852 7.56439 9.98189 8.37943 10.7074C9.4312 11.6438 10.2839 11.9429 10.589 12.0701C10.8163 12.1643 11.0872 12.142 11.2532 11.9653C11.4641 11.738 11.7244 11.3611 11.9894 10.9901C12.1778 10.7239 12.4157 10.6909 12.6654 10.7851C12.9198 10.8735 14.266 11.5389 14.5428 11.6767C14.8196 11.8157 15.0022 11.8817 15.0693 11.9983C15.1352 12.1149 15.1352 12.6625 14.9079 13.3056Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_567">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://telegram.org">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_572)">
                            <path
                              d="M0.332731 9.08582L4.67492 10.7065L6.35562 16.1116C6.46316 16.4577 6.88647 16.5857 7.16745 16.356L9.58786 14.3828C9.84157 14.1761 10.2029 14.1658 10.4681 14.3582L14.8336 17.5277C15.1342 17.7462 15.5601 17.5815 15.6354 17.2183L18.8334 1.83533C18.9157 1.43859 18.5259 1.10761 18.1481 1.25372L0.327643 8.12832C-0.11213 8.29792 -0.108298 8.92055 0.332731 9.08582ZM6.08476 9.84375L14.571 4.61706C14.7235 4.5234 14.8804 4.72962 14.7495 4.85111L7.74585 11.3613C7.49968 11.5905 7.34088 11.8971 7.2959 12.23L7.05733 13.998C7.02573 14.2341 6.69413 14.2575 6.62899 14.029L5.71144 10.805C5.60635 10.4373 5.7595 10.0445 6.08476 9.84375Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_572">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://x.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_576)">
                            <path
                              d="M18.8452 3.57931C18.1444 3.88672 17.3977 4.09048 16.6191 4.18941C17.42 3.71123 18.0313 2.9598 18.3187 2.05407C17.572 2.49928 16.7475 2.81375 15.8689 2.98924C15.1599 2.23428 14.1493 1.76669 13.0469 1.76669C10.908 1.76669 9.18609 3.50276 9.18609 5.63103C9.18609 5.93726 9.212 6.2317 9.2756 6.51202C6.06376 6.35537 3.22175 4.816 1.31255 2.47101C0.979234 3.04931 0.78372 3.71123 0.78372 4.42379C0.78372 5.76176 1.47273 6.9478 2.49976 7.63445C1.87907 7.62268 1.27015 7.44247 0.754276 7.15863C0.754276 7.1704 0.754276 7.18572 0.754276 7.20103C0.754276 9.07843 2.09343 10.6378 3.84951 10.9971C3.53504 11.083 3.19231 11.1243 2.83661 11.1243C2.58928 11.1243 2.33958 11.1101 2.1052 11.0583C2.60577 12.5883 4.02618 13.713 5.71514 13.7496C4.40072 14.7778 2.73179 15.3973 0.925055 15.3973C0.608229 15.3973 0.304359 15.3832 0.000488281 15.3443C1.71182 16.4479 3.73998 17.078 5.92714 17.078C13.0363 17.078 16.923 11.189 16.923 6.08448C16.923 5.9137 16.9171 5.74881 16.9089 5.5851C17.6756 5.04095 18.3199 4.36137 18.8452 3.57931Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_576">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="feedback__slider-slide swiper-slide">
              <div class="slide-inner">
                <div class="slide__img">
                  <img src="/img/content/feedback-2.png" alt="">
                </div>

                <div class="slide__content">
                  <h4 class="slide__name">Eliza Collins</h4>

                  <p class="slide__text">I am impressed by the professionalism of the instructors and the beautiful design of the studio. Here, I have found not only excellent classes, but also support on my personal yoga journey. Thank you, Vinyasa.</p>

                  <ul class="slide__socials">
                    <li>
                      <a target="_blank" href="https://whatsapp.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_567)">
                            <path
                              d="M9.42531 9.72748e-05H9.4206C4.22535 9.72748e-05 0.000610352 4.22602 0.000610352 9.42244C0.000610352 11.4836 0.664885 13.394 1.79439 14.9451L0.620129 18.4455L4.24184 17.2877C5.73175 18.2747 7.50904 18.8448 9.42531 18.8448C14.6205 18.8448 18.8453 14.6177 18.8453 9.42244C18.8453 4.22719 14.6205 9.72748e-05 9.42531 9.72748e-05ZM14.9079 13.3056C14.6806 13.9475 13.7784 14.4799 13.0588 14.6353C12.5665 14.7402 11.9234 14.8238 9.75862 13.9263C6.98963 12.7791 5.20645 9.9654 5.06747 9.78284C4.93438 9.60028 3.94857 8.29293 3.94857 6.94083C3.94857 5.58872 4.63522 4.93034 4.91201 4.64767C5.13932 4.41564 5.51504 4.30964 5.87544 4.30964C5.99204 4.30964 6.09686 4.31553 6.19109 4.32024C6.46787 4.33202 6.60685 4.34851 6.78941 4.78547C7.01672 5.33314 7.57028 6.68525 7.63624 6.82423C7.70337 6.96321 7.77051 7.15165 7.67628 7.33421C7.58795 7.52266 7.51022 7.60628 7.37124 7.76646C7.23226 7.92664 7.10034 8.04913 6.96136 8.22109C6.83416 8.37067 6.69047 8.53085 6.85065 8.80763C7.01083 9.07852 7.56439 9.98189 8.37943 10.7074C9.4312 11.6438 10.2839 11.9429 10.589 12.0701C10.8163 12.1643 11.0872 12.142 11.2532 11.9653C11.4641 11.738 11.7244 11.3611 11.9894 10.9901C12.1778 10.7239 12.4157 10.6909 12.6654 10.7851C12.9198 10.8735 14.266 11.5389 14.5428 11.6767C14.8196 11.8157 15.0022 11.8817 15.0693 11.9983C15.1352 12.1149 15.1352 12.6625 14.9079 13.3056Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_567">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://telegram.org">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_572)">
                            <path
                              d="M0.332731 9.08582L4.67492 10.7065L6.35562 16.1116C6.46316 16.4577 6.88647 16.5857 7.16745 16.356L9.58786 14.3828C9.84157 14.1761 10.2029 14.1658 10.4681 14.3582L14.8336 17.5277C15.1342 17.7462 15.5601 17.5815 15.6354 17.2183L18.8334 1.83533C18.9157 1.43859 18.5259 1.10761 18.1481 1.25372L0.327643 8.12832C-0.11213 8.29792 -0.108298 8.92055 0.332731 9.08582ZM6.08476 9.84375L14.571 4.61706C14.7235 4.5234 14.8804 4.72962 14.7495 4.85111L7.74585 11.3613C7.49968 11.5905 7.34088 11.8971 7.2959 12.23L7.05733 13.998C7.02573 14.2341 6.69413 14.2575 6.62899 14.029L5.71144 10.805C5.60635 10.4373 5.7595 10.0445 6.08476 9.84375Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_572">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://x.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_576)">
                            <path
                              d="M18.8452 3.57931C18.1444 3.88672 17.3977 4.09048 16.6191 4.18941C17.42 3.71123 18.0313 2.9598 18.3187 2.05407C17.572 2.49928 16.7475 2.81375 15.8689 2.98924C15.1599 2.23428 14.1493 1.76669 13.0469 1.76669C10.908 1.76669 9.18609 3.50276 9.18609 5.63103C9.18609 5.93726 9.212 6.2317 9.2756 6.51202C6.06376 6.35537 3.22175 4.816 1.31255 2.47101C0.979234 3.04931 0.78372 3.71123 0.78372 4.42379C0.78372 5.76176 1.47273 6.9478 2.49976 7.63445C1.87907 7.62268 1.27015 7.44247 0.754276 7.15863C0.754276 7.1704 0.754276 7.18572 0.754276 7.20103C0.754276 9.07843 2.09343 10.6378 3.84951 10.9971C3.53504 11.083 3.19231 11.1243 2.83661 11.1243C2.58928 11.1243 2.33958 11.1101 2.1052 11.0583C2.60577 12.5883 4.02618 13.713 5.71514 13.7496C4.40072 14.7778 2.73179 15.3973 0.925055 15.3973C0.608229 15.3973 0.304359 15.3832 0.000488281 15.3443C1.71182 16.4479 3.73998 17.078 5.92714 17.078C13.0363 17.078 16.923 11.189 16.923 6.08448C16.923 5.9137 16.9171 5.74881 16.9089 5.5851C17.6756 5.04095 18.3199 4.36137 18.8452 3.57931Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_576">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="feedback__slider-slide swiper-slide">
              <div class="slide-inner">
                <div class="slide__img">
                  <img src="/img/content/feedback-3.png" alt="">
                </div>

                <div class="slide__content">
                  <h4 class="slide__name">Anna Mironova</h4>

                  <p class="slide__text">I am very grateful to the Vinyasa studio for its inspiring classes and care for each student. Here, I learned to listen to my body and found the path to inner balance.</p>

                  <ul class="slide__socials">
                    <li>
                      <a target="_blank" href="https://whatsapp.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_567)">
                            <path
                              d="M9.42531 9.72748e-05H9.4206C4.22535 9.72748e-05 0.000610352 4.22602 0.000610352 9.42244C0.000610352 11.4836 0.664885 13.394 1.79439 14.9451L0.620129 18.4455L4.24184 17.2877C5.73175 18.2747 7.50904 18.8448 9.42531 18.8448C14.6205 18.8448 18.8453 14.6177 18.8453 9.42244C18.8453 4.22719 14.6205 9.72748e-05 9.42531 9.72748e-05ZM14.9079 13.3056C14.6806 13.9475 13.7784 14.4799 13.0588 14.6353C12.5665 14.7402 11.9234 14.8238 9.75862 13.9263C6.98963 12.7791 5.20645 9.9654 5.06747 9.78284C4.93438 9.60028 3.94857 8.29293 3.94857 6.94083C3.94857 5.58872 4.63522 4.93034 4.91201 4.64767C5.13932 4.41564 5.51504 4.30964 5.87544 4.30964C5.99204 4.30964 6.09686 4.31553 6.19109 4.32024C6.46787 4.33202 6.60685 4.34851 6.78941 4.78547C7.01672 5.33314 7.57028 6.68525 7.63624 6.82423C7.70337 6.96321 7.77051 7.15165 7.67628 7.33421C7.58795 7.52266 7.51022 7.60628 7.37124 7.76646C7.23226 7.92664 7.10034 8.04913 6.96136 8.22109C6.83416 8.37067 6.69047 8.53085 6.85065 8.80763C7.01083 9.07852 7.56439 9.98189 8.37943 10.7074C9.4312 11.6438 10.2839 11.9429 10.589 12.0701C10.8163 12.1643 11.0872 12.142 11.2532 11.9653C11.4641 11.738 11.7244 11.3611 11.9894 10.9901C12.1778 10.7239 12.4157 10.6909 12.6654 10.7851C12.9198 10.8735 14.266 11.5389 14.5428 11.6767C14.8196 11.8157 15.0022 11.8817 15.0693 11.9983C15.1352 12.1149 15.1352 12.6625 14.9079 13.3056Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_567">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://telegram.org">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_572)">
                            <path
                              d="M0.332731 9.08582L4.67492 10.7065L6.35562 16.1116C6.46316 16.4577 6.88647 16.5857 7.16745 16.356L9.58786 14.3828C9.84157 14.1761 10.2029 14.1658 10.4681 14.3582L14.8336 17.5277C15.1342 17.7462 15.5601 17.5815 15.6354 17.2183L18.8334 1.83533C18.9157 1.43859 18.5259 1.10761 18.1481 1.25372L0.327643 8.12832C-0.11213 8.29792 -0.108298 8.92055 0.332731 9.08582ZM6.08476 9.84375L14.571 4.61706C14.7235 4.5234 14.8804 4.72962 14.7495 4.85111L7.74585 11.3613C7.49968 11.5905 7.34088 11.8971 7.2959 12.23L7.05733 13.998C7.02573 14.2341 6.69413 14.2575 6.62899 14.029L5.71144 10.805C5.60635 10.4373 5.7595 10.0445 6.08476 9.84375Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_572">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://x.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_576)">
                            <path
                              d="M18.8452 3.57931C18.1444 3.88672 17.3977 4.09048 16.6191 4.18941C17.42 3.71123 18.0313 2.9598 18.3187 2.05407C17.572 2.49928 16.7475 2.81375 15.8689 2.98924C15.1599 2.23428 14.1493 1.76669 13.0469 1.76669C10.908 1.76669 9.18609 3.50276 9.18609 5.63103C9.18609 5.93726 9.212 6.2317 9.2756 6.51202C6.06376 6.35537 3.22175 4.816 1.31255 2.47101C0.979234 3.04931 0.78372 3.71123 0.78372 4.42379C0.78372 5.76176 1.47273 6.9478 2.49976 7.63445C1.87907 7.62268 1.27015 7.44247 0.754276 7.15863C0.754276 7.1704 0.754276 7.18572 0.754276 7.20103C0.754276 9.07843 2.09343 10.6378 3.84951 10.9971C3.53504 11.083 3.19231 11.1243 2.83661 11.1243C2.58928 11.1243 2.33958 11.1101 2.1052 11.0583C2.60577 12.5883 4.02618 13.713 5.71514 13.7496C4.40072 14.7778 2.73179 15.3973 0.925055 15.3973C0.608229 15.3973 0.304359 15.3832 0.000488281 15.3443C1.71182 16.4479 3.73998 17.078 5.92714 17.078C13.0363 17.078 16.923 11.189 16.923 6.08448C16.923 5.9137 16.9171 5.74881 16.9089 5.5851C17.6756 5.04095 18.3199 4.36137 18.8452 3.57931Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_576">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="feedback__slider-slide swiper-slide">
              <div class="slide-inner">
                <div class="slide__img">
                  <img src="/img/content/feedback-4.png" alt="">
                </div>

                <div class="slide__content">
                  <h4 class="slide__name">Liam Ivanovski</h4>

                  <p class="slide__text">Practicing yoga at the Vinyasa studio has been a real revelation for me. Each class is an opportunity to disconnect from the hustle and bustle of everyday life and find harmony.</p>

                  <ul class="slide__socials">
                    <li>
                      <a target="_blank" href="https://whatsapp.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_567)">
                            <path
                              d="M9.42531 9.72748e-05H9.4206C4.22535 9.72748e-05 0.000610352 4.22602 0.000610352 9.42244C0.000610352 11.4836 0.664885 13.394 1.79439 14.9451L0.620129 18.4455L4.24184 17.2877C5.73175 18.2747 7.50904 18.8448 9.42531 18.8448C14.6205 18.8448 18.8453 14.6177 18.8453 9.42244C18.8453 4.22719 14.6205 9.72748e-05 9.42531 9.72748e-05ZM14.9079 13.3056C14.6806 13.9475 13.7784 14.4799 13.0588 14.6353C12.5665 14.7402 11.9234 14.8238 9.75862 13.9263C6.98963 12.7791 5.20645 9.9654 5.06747 9.78284C4.93438 9.60028 3.94857 8.29293 3.94857 6.94083C3.94857 5.58872 4.63522 4.93034 4.91201 4.64767C5.13932 4.41564 5.51504 4.30964 5.87544 4.30964C5.99204 4.30964 6.09686 4.31553 6.19109 4.32024C6.46787 4.33202 6.60685 4.34851 6.78941 4.78547C7.01672 5.33314 7.57028 6.68525 7.63624 6.82423C7.70337 6.96321 7.77051 7.15165 7.67628 7.33421C7.58795 7.52266 7.51022 7.60628 7.37124 7.76646C7.23226 7.92664 7.10034 8.04913 6.96136 8.22109C6.83416 8.37067 6.69047 8.53085 6.85065 8.80763C7.01083 9.07852 7.56439 9.98189 8.37943 10.7074C9.4312 11.6438 10.2839 11.9429 10.589 12.0701C10.8163 12.1643 11.0872 12.142 11.2532 11.9653C11.4641 11.738 11.7244 11.3611 11.9894 10.9901C12.1778 10.7239 12.4157 10.6909 12.6654 10.7851C12.9198 10.8735 14.266 11.5389 14.5428 11.6767C14.8196 11.8157 15.0022 11.8817 15.0693 11.9983C15.1352 12.1149 15.1352 12.6625 14.9079 13.3056Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_567">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://telegram.org">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_572)">
                            <path
                              d="M0.332731 9.08582L4.67492 10.7065L6.35562 16.1116C6.46316 16.4577 6.88647 16.5857 7.16745 16.356L9.58786 14.3828C9.84157 14.1761 10.2029 14.1658 10.4681 14.3582L14.8336 17.5277C15.1342 17.7462 15.5601 17.5815 15.6354 17.2183L18.8334 1.83533C18.9157 1.43859 18.5259 1.10761 18.1481 1.25372L0.327643 8.12832C-0.11213 8.29792 -0.108298 8.92055 0.332731 9.08582ZM6.08476 9.84375L14.571 4.61706C14.7235 4.5234 14.8804 4.72962 14.7495 4.85111L7.74585 11.3613C7.49968 11.5905 7.34088 11.8971 7.2959 12.23L7.05733 13.998C7.02573 14.2341 6.69413 14.2575 6.62899 14.029L5.71144 10.805C5.60635 10.4373 5.7595 10.0445 6.08476 9.84375Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_572">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://x.com">
                        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_1_576)">
                            <path
                              d="M18.8452 3.57931C18.1444 3.88672 17.3977 4.09048 16.6191 4.18941C17.42 3.71123 18.0313 2.9598 18.3187 2.05407C17.572 2.49928 16.7475 2.81375 15.8689 2.98924C15.1599 2.23428 14.1493 1.76669 13.0469 1.76669C10.908 1.76669 9.18609 3.50276 9.18609 5.63103C9.18609 5.93726 9.212 6.2317 9.2756 6.51202C6.06376 6.35537 3.22175 4.816 1.31255 2.47101C0.979234 3.04931 0.78372 3.71123 0.78372 4.42379C0.78372 5.76176 1.47273 6.9478 2.49976 7.63445C1.87907 7.62268 1.27015 7.44247 0.754276 7.15863C0.754276 7.1704 0.754276 7.18572 0.754276 7.20103C0.754276 9.07843 2.09343 10.6378 3.84951 10.9971C3.53504 11.083 3.19231 11.1243 2.83661 11.1243C2.58928 11.1243 2.33958 11.1101 2.1052 11.0583C2.60577 12.5883 4.02618 13.713 5.71514 13.7496C4.40072 14.7778 2.73179 15.3973 0.925055 15.3973C0.608229 15.3973 0.304359 15.3832 0.000488281 15.3443C1.71182 16.4479 3.73998 17.078 5.92714 17.078C13.0363 17.078 16.923 11.189 16.923 6.08448C16.923 5.9137 16.9171 5.74881 16.9089 5.5851C17.6756 5.04095 18.3199 4.36137 18.8452 3.57931Z"
                              fill="currentColor" />
                          </g>
                          <defs>
                            <clipPath id="clip0_1_576">
                              <rect width="18.8447" height="18.8447" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="feedback__slider-pagination swiper-pagination"></div>
        </div>
      </div>
    </section>

    {{> page/application}}
  </main>

  {{> page/footer}}
  {{> page/script}}
  <script type='module' src="/src/js/home-slider.js"></script>
  <script type='module' src='/src/js/lib/data-href.js'></script>
  <script type='module' src='/src/js/gallery.js'></script>
  <script type='module' src='/src/js/lib/accordeon.js'></script>
  <script type='module' src='/src/js/feedback-slider.js'></script>
</body>

</html>