<html lang="en">
  {{> page/head title="Home Page" scssFileName="index"}}
  <body>
    {{> page/header}}

    <main>
      
    </main>

    {{> page/footer}}
    <script type="module" src="/src/js/main.js"></script>
  </body>
</html>