<html lang="en">
  {{> page/head title="Home Page" scssFileName="index"}}
  <body>
    {{> page/header}}

    <main>
      <section class="hero-section">
        <div class="hero swiper">
        <div class="hero-wrapper swiper-wrapper">
          <div class="hero-slide swiper-slide" style='background-image: url("/img/content/hero_slide_1.png");'>
            <div class="container">
              <div class="hero-content">
                <h2 class="hero-title">Discover Harmony at Vinyasa Yoga Studio</h2>
                <p class="hero-subtitle">Founded back in 2005, when the word “yoga” was not yet as popular with the public as it is today. Now we are the largest and best place to practice yoga within a 100-mile radius!</p>
<button class="hero-btn blue-button">About studio</button>
              </div>
            </div>
          </div>
          <div class="hero-slide swiper-slide" style='background-image: url("/img/content/hero_slide_2.png");'>
            <div class="container">
              <div class="hero-content">
                <h2 class="hero-title">Immerse yourself in the art of yoga with Vinyasa</h2>
                <p class="hero-subtitle">Discover the depths of yoga practice with Vinyasa, an art that weaves movement and breath into a harmonious unity. On our website, you will find lessons that inspire you to become more flexible, strong, and calm. Let's embark on a journey together toward harmony of body, mind, and soul.</p>
<button class="hero-btn blue-button">About studio</button>
              </div>
            </div>
          </div>
          <div class="hero-slide swiper-slide" style='background-image: url("/img/content/hero_slide_3.png");'>
            <div class="container">
              <div class="hero-content">
                <h2 class="hero-title">Find Harmony in Movement</h2>
                <p class="hero-subtitle">Discover the art of harmony with Vinyasa yoga. Our classes will help you unlock your potential, develop flexibility and strength, and find inner harmony and peace of mind. Join us on the path to health and well-being!</p>
<button class="hero-btn blue-button">About studio</button>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-pagination swiper-pagination"></div>

        <div class="hero-button-prev swiper-button-prev"><svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 10.5769C0 10.331 0.0896005 10.0849 0.2686 9.89708L9.4351 0.281775C9.7933 -0.093925 10.3733 -0.093925 10.7313 0.281775C11.0892 0.657575 11.0894 1.26598 10.7313 1.64138L2.2128 10.5769L10.7313 19.5124C11.0894 19.8881 11.0894 20.4966 10.7313 20.872C10.3731 21.2475 9.7931 21.2478 9.4351 20.872L0.2686 11.2567C0.0896005 11.069 0 10.8229 0 10.5769Z" fill="#3D445D"/>
</svg>
</div>
        <div class="hero-button-next swiper-button-next"><svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 10.5769C0 10.331 0.0896005 10.0849 0.2686 9.89708L9.4351 0.281775C9.7933 -0.093925 10.3733 -0.093925 10.7313 0.281775C11.0892 0.657575 11.0894 1.26598 10.7313 1.64138L2.2128 10.5769L10.7313 19.5124C11.0894 19.8881 11.0894 20.4966 10.7313 20.872C10.3731 21.2475 9.7931 21.2478 9.4351 20.872L0.2686 11.2567C0.0896005 11.069 0 10.8229 0 10.5769Z" fill="#3D445D"/>
</svg>
</div>
      </div>
      </section>

      <section class="about">
        <div class="container">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt facilis, numquam sit at quod consequatur similique? Pariatur nobis assumenda minima laborum asperiores magnam atque dolore sed commodi voluptates. Quia, temporibus.
          Odio, quae! Animi ut magni in ipsam qui exercitationem saepe nobis dicta dolor est ab explicabo, molestias quos, laboriosam vitae facere laborum numquam et eligendi? Ullbdbdfbam, praesentium. Fuga, quibusdam repellendus?
          Est soluta, iure quis eaque aperiam odio suscipit voluptate cupiditate natus, velit quos quo incidunt ratione fuga! Amet, harum nemo! Quidem, eum ea blanditiis distinctio at rerum temporibus minima ex.
          Sit nobis quam nulla quibusdam suscipit, dolorem sequi tempora dolorum sed odio aliquam hic voluptatem repellendus facere animi praesentium velit eligendi distinctio delectus officiis aspernatur aut illum. Tempore, asperiores suscipit?
          Totam saepe ipsa rem quasi dicta quos. Porro sapiente suscipit ratione saepe similique. Perspiciatis cupiditate quaerat voluptatem deserunt velit delectus aspernatur, a quod praesentium incidunt illum sapiente autem non quos.
          Harum, quos! Expedita autem, repellendus ab inventore tempora quo harum beatae eius vel, ratione sequi? Non quaerat possimus assumenda, aperiam cumque illo ipsam expedita explicabo illum a quisquam consequatur voluptas!
          Expedita, illum accusantium! Laborum rerum aliquid id dicta fuga aspernatur amet accusamus? Ratione iste temporibus quaerat perspiciatis sapiente vel laboriosam ipsum tempora voluptas? Deserunt placeat earum, beatae eum nihil asperiores.
          Accusamus maiores veritatis molestiae enim veniam. Ratione in possimus laborum accusantium, blanditiis doloribus laudantium ipsum cupiditate cumque, sequi fuga ducimus dignissimos deleniti, nostrum autem distinctio. Esse quia ea distinctio necessitatibus.
          Laboriosam totam consectetur eum ea, fugiat, voluptas sapiente sint doloribus ipsum modi qui vero cum excepturi amet eligendi quas quod magni corrupti ratione. Cumque inventore, earum corporis placeat ipsum dolorem?
          Veniam officia repellendus, provident consequuntur inventore neque vel cumque, deleniti saepe odit perspiciatis exercitationem, a ea odio? Perferendis corporis quos eveniet quo laborum quas, dolore ex delectus. Aspernatur, autem libero?
        </div>
      </section>
    </main>

    {{> page/footer}}
    {{> page/script}}
    <script type='module' src="/src/js/home-slider.js"></script>
  </body>
</html>