<footer>
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <div class="footer__logo">
          <a href="/">
            <img src="/img/logo_footer.svg" alt="Vinyasa Logo" />
          </a>
        </div>

        <div class="footer__text">
          <p>Find harmony between body and mind at Vinyasa Yoga Studio. Explore
            the path to inner balance through yoga classes focused on
            harmoniously combining breath, movement, and spiritual development.</p>
        </div>

        <div class="footer__socials">
          <ul>
            <li>
              <a href="https://whatsapp.com">
                <svg
                  viewBox="0 0 19 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_1_567)">
                    <path
                      d="M9.42531 9.72748e-05H9.4206C4.22535 9.72748e-05 0.000610352 4.22602 0.000610352 9.42244C0.000610352 11.4836 0.664885 13.394 1.79439 14.9451L0.620129 18.4455L4.24184 17.2877C5.73175 18.2747 7.50904 18.8448 9.42531 18.8448C14.6205 18.8448 18.8453 14.6177 18.8453 9.42244C18.8453 4.22719 14.6205 9.72748e-05 9.42531 9.72748e-05ZM14.9079 13.3056C14.6806 13.9475 13.7784 14.4799 13.0588 14.6353C12.5665 14.7402 11.9234 14.8238 9.75862 13.9263C6.98963 12.7791 5.20645 9.9654 5.06747 9.78284C4.93438 9.60028 3.94857 8.29293 3.94857 6.94083C3.94857 5.58872 4.63522 4.93034 4.91201 4.64767C5.13932 4.41564 5.51504 4.30964 5.87544 4.30964C5.99204 4.30964 6.09686 4.31553 6.19109 4.32024C6.46787 4.33202 6.60685 4.34851 6.78941 4.78547C7.01672 5.33314 7.57028 6.68525 7.63624 6.82423C7.70337 6.96321 7.77051 7.15165 7.67628 7.33421C7.58795 7.52266 7.51022 7.60628 7.37124 7.76646C7.23226 7.92664 7.10034 8.04913 6.96136 8.22109C6.83416 8.37067 6.69047 8.53085 6.85065 8.80763C7.01083 9.07852 7.56439 9.98189 8.37943 10.7074C9.4312 11.6438 10.2839 11.9429 10.589 12.0701C10.8163 12.1643 11.0872 12.142 11.2532 11.9653C11.4641 11.738 11.7244 11.3611 11.9894 10.9901C12.1778 10.7239 12.4157 10.6909 12.6654 10.7851C12.9198 10.8735 14.266 11.5389 14.5428 11.6767C14.8196 11.8157 15.0022 11.8817 15.0693 11.9983C15.1352 12.1149 15.1352 12.6625 14.9079 13.3056Z"
                      fill="currentColor"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_1_567">
                      <rect width="18.8447" height="18.8447" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://telegram.org">
                <svg
                  viewBox="0 0 19 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_1_572)">
                    <path
                      d="M0.332731 9.08582L4.67492 10.7065L6.35562 16.1116C6.46316 16.4577 6.88647 16.5857 7.16745 16.356L9.58786 14.3828C9.84157 14.1761 10.2029 14.1658 10.4681 14.3582L14.8336 17.5277C15.1342 17.7462 15.5601 17.5815 15.6354 17.2183L18.8334 1.83533C18.9157 1.43859 18.5259 1.10761 18.1481 1.25372L0.327643 8.12832C-0.11213 8.29792 -0.108298 8.92055 0.332731 9.08582ZM6.08476 9.84375L14.571 4.61706C14.7235 4.5234 14.8804 4.72962 14.7495 4.85111L7.74585 11.3613C7.49968 11.5905 7.34088 11.8971 7.2959 12.23L7.05733 13.998C7.02573 14.2341 6.69413 14.2575 6.62899 14.029L5.71144 10.805C5.60635 10.4373 5.7595 10.0445 6.08476 9.84375Z"
                      fill="currentColor"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_1_572">
                      <rect width="18.8447" height="18.8447" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://x.com">
                <svg
                  viewBox="0 0 19 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_1_576)">
                    <path
                      d="M18.8452 3.57931C18.1444 3.88672 17.3977 4.09048 16.6191 4.18941C17.42 3.71123 18.0313 2.9598 18.3187 2.05407C17.572 2.49928 16.7475 2.81375 15.8689 2.98924C15.1599 2.23428 14.1493 1.76669 13.0469 1.76669C10.908 1.76669 9.18609 3.50276 9.18609 5.63103C9.18609 5.93726 9.212 6.2317 9.2756 6.51202C6.06376 6.35537 3.22175 4.816 1.31255 2.47101C0.979234 3.04931 0.78372 3.71123 0.78372 4.42379C0.78372 5.76176 1.47273 6.9478 2.49976 7.63445C1.87907 7.62268 1.27015 7.44247 0.754276 7.15863C0.754276 7.1704 0.754276 7.18572 0.754276 7.20103C0.754276 9.07843 2.09343 10.6378 3.84951 10.9971C3.53504 11.083 3.19231 11.1243 2.83661 11.1243C2.58928 11.1243 2.33958 11.1101 2.1052 11.0583C2.60577 12.5883 4.02618 13.713 5.71514 13.7496C4.40072 14.7778 2.73179 15.3973 0.925055 15.3973C0.608229 15.3973 0.304359 15.3832 0.000488281 15.3443C1.71182 16.4479 3.73998 17.078 5.92714 17.078C13.0363 17.078 16.923 11.189 16.923 6.08448C16.923 5.9137 16.9171 5.74881 16.9089 5.5851C17.6756 5.04095 18.3199 4.36137 18.8452 3.57931Z"
                      fill="currentColor"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_1_576">
                      <rect width="18.8447" height="18.8447" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__right-list">
          <h6>Navigation</h6>

          <ul>
            <li><a href="">Home page</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Instructors</a></li>
            <li><a href="">Classes</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Blog</a></li>
          </ul>
        </div>

        <div class="footer__right-list">
          <h6>Classes</h6>

          <ul>
            <li><a href="">Ashtanga Yoga</a></li>
            <li><a href="">Bikram Yoga</a></li>
            <li><a href="">Kundalini Yoga</a></li>
            <li><a href="">Hatha Yoga</a></li>
          </ul>
        </div>

        <div class="footer__right-list">
          <h6>Contacts</h6>

          <ul class="footer__right-contacts">
            <li><a
                class="footer__contacts-phone"
                href="tel:+(6) 666-653-4523"
                target="_blank"
              >
                <div class="icon">
                  <svg
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_1_611)">
                      <path
                        d="M15.0175 11.3001C14.9765 11.2676 12 9.12213 11.183 9.27613C10.793 9.34513 10.57 9.61113 10.1225 10.1436C10.0505 10.2296 9.8775 10.4356 9.743 10.5821C9.4602 10.4899 9.18433 10.3776 8.9175 10.2461C7.54026 9.57563 6.4275 8.46287 5.757 7.08563C5.62543 6.81884 5.51315 6.54297 5.421 6.26013C5.568 6.12513 5.774 5.95213 5.862 5.87813C6.392 5.43313 6.6585 5.21013 6.7275 4.81913C6.869 4.00913 4.725 1.01213 4.7025 0.98513C4.60522 0.846165 4.47827 0.730561 4.33084 0.646681C4.1834 0.562802 4.01916 0.512744 3.85 0.50013C2.981 0.50013 0.5 3.71863 0.5 4.26063C0.5 4.29213 0.5455 7.49413 4.494 11.5106C8.5065 15.4546 11.708 15.5001 11.7395 15.5001C12.282 15.5001 15.5 13.0191 15.5 12.1501C15.4875 11.9816 15.4378 11.8179 15.3543 11.6709C15.2709 11.5239 15.1558 11.3973 15.0175 11.3001Z"
                        fill="currentColor"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1_611">
                        <rect width="16" height="16" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="text">+(6) 666-653-4523</div>
              </a></li>
            <li><a
                class="footer__contacts-location"
                href="https://www.google.com/maps/place/1045+Sterling+Pl,+Brooklyn,+NY+11213,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.6723138,-73.944749,309m/data=!3m2!1e3!4b1!4m15!1m8!3m7!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!3b1!8m2!3d40.7127753!4d-74.0059728!16zL20vMDJfMjg2!3m5!1s0x89c25b824fb78471:0xa729af8dced7a041!8m2!3d40.6723125!4d-73.9439426!16s%2Fg%2F11c3q4hdk_?entry=ttu&g_ep=EgoyMDI2MDEyMS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
              >
                <div class="icon">
                  <svg
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_1_617)">
                      <path
                        d="M7.99978 4.57764e-05C4.93822 4.57764e-05 2.44751 2.49112 2.44751 5.55276C2.44751 8.49985 7.48518 15.3853 7.69968 15.6769L7.89987 15.9493C7.91136 15.965 7.9264 15.9778 7.94376 15.9866C7.96112 15.9954 7.98031 16 7.99978 16C8.01934 16.0001 8.03864 15.9955 8.0561 15.9867C8.07356 15.9779 8.08871 15.9651 8.1003 15.9493L8.30036 15.6769C8.51498 15.3853 13.5525 8.49985 13.5525 5.55276C13.5525 2.49112 11.0614 4.57764e-05 7.99978 4.57764e-05ZM7.99978 3.56379C9.09674 3.56379 9.98875 4.45583 9.98875 5.55276C9.98875 6.64912 9.0967 7.54173 7.99978 7.54173C6.90346 7.54173 6.01081 6.64912 6.01081 5.55276C6.01081 4.45583 6.90342 3.56379 7.99978 3.56379Z"
                        fill="currentColor"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1_617">
                        <rect width="16" height="16" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>

                </div>
                <div class="text">1045 Sterling Pl</div>
              </a></li>
            <li><a
                class="footer__contacts-mail"
                href="mailto:vinyasa@gmail.com"
                target="_blank"
              >
                <div class="icon">
                  <svg
                    viewBox="0 0 17 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_1_650)">
                      <path
                        d="M1.59615 5.80945C1.80652 5.9579 2.44065 6.39879 3.49856 7.13189C4.55651 7.86499 5.36697 8.42946 5.92998 8.82533C5.99184 8.86872 6.12325 8.96305 6.32429 9.10844C6.52536 9.25393 6.69243 9.3715 6.82537 9.46118C6.95841 9.55083 7.11925 9.65139 7.30803 9.76272C7.49675 9.87395 7.67465 9.95762 7.84169 10.013C8.00876 10.0688 8.16341 10.0965 8.30568 10.0965H8.31501H8.32437C8.46665 10.0965 8.62136 10.0688 8.78844 10.013C8.95541 9.95762 9.13347 9.87385 9.32203 9.76272C9.51068 9.65126 9.67151 9.55079 9.80455 9.46118C9.93759 9.3715 10.1045 9.25393 10.3057 9.10844C10.5067 8.96292 10.6383 8.86872 10.7001 8.82533C11.2692 8.42946 12.717 7.42407 15.0432 5.80926C15.4948 5.49387 15.8721 5.11331 16.1752 4.66784C16.4785 4.22256 16.63 3.75544 16.63 3.26674C16.63 2.85836 16.483 2.50878 16.1891 2.21803C15.8952 1.92721 15.5472 1.78188 15.1452 1.78188H1.48476C1.00841 1.78188 0.641829 1.94271 0.385078 2.26438C0.128359 2.5861 0 2.98825 0 3.47077C0 3.86053 0.170192 4.28289 0.510414 4.73759C0.850604 5.19233 1.21264 5.54965 1.59615 5.80945Z"
                        fill="currentColor"
                      />
                      <path
                        d="M15.7019 6.80233C13.6729 8.17567 12.1321 9.24298 11.0805 10.004C10.7279 10.2638 10.4418 10.4665 10.2221 10.6118C10.0024 10.7572 9.71026 10.9057 9.34517 11.0572C8.98021 11.2089 8.64009 11.2846 8.3245 11.2846H8.31504H8.30572C7.9902 11.2846 7.64988 11.2089 7.28492 11.0572C6.91996 10.9057 6.62759 10.7572 6.40795 10.6118C6.18839 10.4665 5.90222 10.2638 5.54961 10.004C4.71435 9.39159 3.17697 8.32421 0.93739 6.80233C0.584654 6.56739 0.272223 6.29809 0 5.99499V13.3632C0 13.7718 0.145327 14.1212 0.436142 14.412C0.726893 14.7028 1.07651 14.8482 1.48486 14.8482H15.1453C15.5535 14.8482 15.9031 14.7028 16.1939 14.412C16.4848 14.1211 16.6301 13.7718 16.6301 13.3632V5.99499C16.364 6.29182 16.0547 6.56111 15.7019 6.80233Z"
                        fill="currentColor"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1_650">
                        <rect width="16.63" height="16.63" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>

                </div>
                <div class="text">vinyasa@gmail.com</div>
              </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <p> 2024 © Vinyasa All rights reserved</p>
    </div>
  </div>
</footer>

<button class="scroll-top" aria-label="Scroll to top"><img
    src="/img/scroll-top.svg"
    alt=""
  /></button>