<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/src/scss/reset.scss" />
<link rel="stylesheet" href="/src/scss/main.scss" />
<link rel="stylesheet" href="/src/scss/vars.scss" />
<link rel="stylesheet" href="/src/scss/header.scss" />
<link rel="stylesheet" href="/src/scss/footer.scss" />

<link rel="icon" type="image/x-icon" href="/img/favicon.svg" />

<link rel="stylesheet" href="/src/scss/pages/{{scssFileName}}.scss" />
<title>{{title}} | Vinyasa</title>