header {
  &.header-desktop {
    @media (max-width: em(900)) {
      display: none;
    }
  }

  &.header-mobile {
    display: none;

    @media (max-width: em(900)) {
      display: block;
    }
  }

  .header__top {
    background-color: #33344f;
    color: white;
    padding: rem(21) 0;

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .header__contacts-time {
    cursor: default;
  }

  .header__contacts-time {
    color: inherit;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-primary);
    }
  }

  .header__top {
    &-socials {
      display: flex;
      gap: rem(22);

      > a {
        display: inline-flex;

        svg {
          max-width: rem(19);
          width: 100%;
          aspect-ratio: 1 / 1;
          display: block;
        }
      }
    }

    &-contacts {
      display: flex;
      gap: rem(25);
      align-items: center;

      > div,
      > a {
        display: flex;
        align-items: center;
        gap: rem(10);

        .icon {
          svg {
            max-width: rem(16);
            width: 100%;
            aspect-ratio: 1 / 1;
            display: block;
          }
        }

        .text {
          font-size: rem(14);

          @media (max-width: em(1020)) {
            font-size: rem(12);
          }
        }
      }
    }
  }

  .header__bottom-container {
    padding: rem(19) rem(15);
    display: flex;
    z-index: 3;
    justify-content: space-between;
    gap: rem(15);
    align-items: center;

    .header__menu > ul {
      display: flex;
      gap: rem(30);
      align-items: center;
      flex-wrap: wrap;

      > li {
        position: relative;
      }
    }
  }

  .header__burger {
    width: rem(25);
    height: rem(21);

    span {
      display: inline-block;
      position: relative;
      width: 100%;
      height: rem(3);
      border-radius: rem(1);
      background-color: var(--color-primary);

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: rem(3);
        border-radius: rem(1);
        background-color: var(--color-primary);
      }

      &::before {
        top: rem(-6);
      }

      &::after {
        bottom: rem(-6);
      }
    }
  }
}

.header__logo {
  max-width: rem(150);
  width: 100%;
  flex: 0 0 rem(150);
  aspect-ratio: 150 / 41;

  img {
    width: 100%;
  }
}

.header__menu > ul > li:hover .header__dropdown-menu {
  display: block;
  animation-name: slideDown;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 0.1s;
}

.header__dropdown {
  position: relative;
  z-index: 10;
  padding-right: rem(19);

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: rem(11);
    height: rem(12);
    background-image: url('/img/caret.svg');
    transition: all 0.3s ease;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        transform: rotate(180deg) translateY(50%);
      }
    }
  }

  &-menu {
    opacity: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: rem(5);
    width: rem(150);
    box-shadow: 0 rem(4) rem(6) rgba(0, 0, 0, 0.1);
  }

  &-item {
    text-transform: capitalize;
    transition: all 0.3s ease;
    width: 100%;
    background-color: #fff;

    a {
      display: inline-block;
      width: 100%;
      padding: rem(15) rem(10);
    }

    @media (hover: hover) {
      &:hover {
        a {
          color: white;
        }

        background-color: var(--color-primary);
      }
    }
  }
}

.header__mobileMenu {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--color-primary);
  color: white;
  padding-bottom: rem(20);
  overflow-y: auto;

  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none; // щоб не клікався коли закритий
  visibility: hidden; // щоб не фокусився табом
}

body.menu-closing {
  overflow: hidden;

  .header__mobileMenu {
    animation: slideLeft 0.3s ease forwards reverse;
  }
}

body.menu-opened {
  overflow: hidden;

  .header__mobileMenu {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    visibility: visible;

    animation: slideLeft 0.3s ease forwards;

    .header__contacts-time,
    a {
      @media (hover: hover) {
        &:hover {
          color: var(--color-secondary);
        }
      }
    }

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(19) 0;
      border-bottom: rem(1) solid white;
    }

    &-close {
      span {
        display: inline-block;
        width: rem(25);
        height: rem(5);
        background-color: white;
        position: relative;
        border-radius: rem(5);
        transform: rotate(45deg);

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: white;
          border-radius: rem(5);
          transform: rotate(90deg);
        }
      }
    }

    &-bottom {
      margin-top: rem(30);
      display: flex;
      flex-direction: column;
      gap: rem(30);

      .header__top-contacts {
        flex-direction: column;
        gap: rem(20);
        align-items: start;

        > div,
        > a {
          .text {
            @media (max-width: em(1020)) {
              font-size: rem(16);
            }
          }
        }
      }

      .header__menu {
        > ul {
          display: flex;
          flex-direction: column;
          gap: rem(20);
          align-items: start;
          font-size: rem(18);
        }
      }

      .header__button {
        font-size: rem(18);
        background-color: white;
        color: var(--color-primary);
        max-width: rem(170);

        @media (hover: hover) {
          &:hover {
            background-color: var(--color-secondary);
            color: white;
          }
        }
      }
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
