@font-face {
  font-family: "Roboto Regular";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Roboto Regular", sans-serif;
  font-size: rem(18);

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: em(1020)) {
    font-size: rem(14);
  }
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 rem(15);
}

a {
  color: inherit;
  transition: color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      color: var(--color-primary);
    }
  }
}

.blue-button {
  text-transform: capitalize;
  color: white;
  background-color: var(--color-primary);
  border-radius: rem(5);
  padding: rem(16) rem(54);
  transition: all 0.3s ease;
  text-wrap: nowrap;

  @media (hover: hover) {
    &:hover {
      background-color: color-mix(in srgb, var(--color-primary) 85%, black);
    }
  }
}

h3.section-title {
  font-size: rem(42);
  font-weight: 700;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);

  @media (max-width: em(1020)) {
    font-size: rem(33);
  }

  @media (max-width: em(425)) {
    font-size: rem(26);
  }

  > div {
    width: rem(58);
    height: rem(47);

    @media (max-width: em(1020)) {
      width: rem(45);
      height: rem(36);
    }

    > img {
      width: 100%;
      height: 100%;
    }
  }
}

span.bold {
  font-weight: 700;
}

section.margin-top {
  margin-top: clamp(rem(30), 6vw, rem(100));
}
